[2019-07-18 18:27] ebewley opened #1 "Add minify-on-save feature"
**Is your feature request related to a problem? Please describe.**
Reduce keystrokes and eliminate issues in which project members forget to minify files upon saving.

**Describe the solution you'd like**
Add an option to the settings in vscode to minify on save.  Add another setting which instructs the extension to save to new files.  Add settings which allows the user to turn on/off the minimiza

[2019-07-26 13:55] Josee9988 commented on #1
Hi @ebewley  I'm going to try to make some things possible, sorry for not responding faster but I have been quite busy these days.
I find interesting turning on and off minimization of various types of files, going to start with that.

Minify on save seems like a good idea but I don't think this would be like a useful feature but definitely, I'll try to make it possible.

What do you mean by savin

[2019-07-26 15:15] Josee9988 commented on #1
@ebewley turning on and off minimization of each language has been added on version 0.8.2

And minify on save (your actual code or to a new file) has been added on version 0.8.3

Thanks for your time!

[2019-07-26 15:15] #1 closed

[2019-07-26 15:56] ebewley commented on #1
Mr. Berenguer,

Thanks for responding, and for implementing those changes.  As soon as I
have sufficient time to reevaluate the extension, I'll let you know my
thoughts.

I had to switch back to the "JS and CSS Minify" extension because we
already began running into problems where people were forgetting to minify,
and code changes were not being picked up in TEST.  However, I'm looking
forward to

[2019-07-26 17:02] Josee9988 commented on #1
@ebewley
Dear Mr Ebewley

MinifyAll does not support an external settings for the extension, but it does have some configuration settings for example of that lets you disable hexadecimal minimization.

I don't really think there is an standard for minifying files, it's simply making all the code into one line and removing some useless code and minifying for example hexadecimal or rgb values into 3

[2019-10-17 16:45] Janooba opened #5 "Allow minification of unsaved temp documents, or currently selected content."
Is it possible to either allow minification of unsaved temp documents (File>New File -> write/paste some code without saving) or implement minification of currently selected text?

I've run into the need to do this multiple times over the last few months and no other extension even comes close to implementing it other than [Minify selection](https://github.com/Box-Of-Hats/vscode-minify-selection)

[2019-10-17 17:17] Josee9988 commented on #5
@Janooba Yes, this can be done, I will check if I can make another command that only applies to selected text.

I hope to get this thing fixed fast once I get into it in the upcoming days, as I don't have much time right now.

Thanks for commenting and letting me know how the users feel about the extension and how to enhance it.!! I'll keep you posted

[2019-10-19 17:14] Josee9988 commented on #5
Hi @Janooba in the new version 1.5.0 already available you can check the new selected text command, also you will not be forced to save the document to minify.

https://github.com/Josee9988/MinifyAll/commit/3001a2c72873c65a0b51bf4ee133e8a07a5dd953

Hope you have a great day and still help us improve!

[2019-10-19 17:16] #5 closed

[2019-10-20 22:38] Janooba commented on #5
Beautiful. Thanks @Josee9988 . Your speed is highly appreciated over here!

[2019-11-10 20:49] lesfen opened #6 "MinifyAll recently stopped working"
There are several issues all of which prevent the extension from working at all.

CTRL ALT M produces error 'command'extension.MinifyAll' not found
Right Clicking the file in the explorer tree and click "Minify The selected document and preserve original" produces no error but does absolutely nothing.

**To Reproduce**
right click on any css file in the file tree and click "Minify The selected doc

[2019-11-10 21:40] Josee9988 commented on #6
Hi, @lesfen I have tested the commands, and right-clicking in the explorer and Minify isn't working. Also using the keybinding CTRL + ALT +M isn't **detecting** a keybinding, but it works for me.

But this three commands in the picture are working perfectly for me. Calling them from the right-click menu or from the command palette.
![image](https://user-images.githubusercontent.com/38838976/685510

[2019-11-10 21:43] lesfen commented on #6
I have solved the problem.  Something strange happened to my workspace file.  I discovered that the problem exists for ALL extensions and only when having this one workspace open.  It worked fine on other workspaces and for just opening folders.   Still no clue what happened, but deleting and recreating the workspace fixed it.

[2019-11-10 21:43] #6 closed

[2019-11-10 21:46] Josee9988 commented on #6
Hahahah, well at least you made me found an inconsistency thing in my code.
Thank you for your time @lesfen

[2019-11-14 02:34] wisnubaldas opened #7 "Blade file type"
Does this not work in the file type ".blade.php"?

![image](https://user-images.githubusercontent.com/10908214/68821615-6586a880-06c1-11ea-9971-b87fe2470c90.png)

[2019-11-14 07:49] Josee9988 commented on #7
Hey, I'll check this in a couple of hours, stay tuned!
Thanks for helping me improve the extension

[2019-11-14 10:28] Josee9988 commented on #7
Hey, @wisnubaldas I have been checking, and the extension works fine with '**.blade.php**' as well as '**.php**.
Remember that, the extension only allows PHP files (blade.php is still a PHP file) *in order to minify **HTML***.

We do not minify PHP, but we **can minify HTML in a PHP file**.

The only command that is available for doing suck task is: ** 'Minify the selected text'. (CTRL+ALT+. CTRL+

[2019-11-14 10:28] #7 closed

[2019-12-10 10:14] giuliac1989 opened #8 "Change minified file name"
Hi, it's possibile to customize the minified file name?
I would like it to be for example styles.min.css instead styles-min.css

[2019-12-10 10:29] Josee9988 commented on #8
Hi, @giuliac1989  there is no possible way to do so **now**, but I'll look forward to it by adding a setting so the user could choose.
I will try to make it ASAP, probably today or **the upcoming days**, so stay tuned and thanks for helping the extension even better!

[2019-12-10 10:33] giuliac1989 commented on #8
Thank you @Josee9988! The extension is great :)

[2019-12-11 21:00] Josee9988 commented on #8
Hey @giuliac1989 I've just created a new setting called "MinifyAll.PrefixOfNewMinifiedFiles", there you can choose upon 4 options :)
<img src="https://i.imgur.com/1yBEQYJ.png" alt="new option" title="new option" style="border-radius:15px; box-shadow: 6px 6px  #282829; max-height: 750px; max-width:750px;margin-left: auto; margin-right:auto;display: block;margin-left: auto;margin-right:auto;width:75

[2019-12-11 21:00] #8 closed

[2019-12-14 07:39] RadhiFadlillah opened #9 "When saving to new file, don't open the minified version in editor"
**Describe the bug**

First of all, thanks for this extension, it's the simplest minifier that I've used with minimal configuration. Unfortunately, I have problem when I'm using `minifyOnSaveToNewFIle = true`.

When I'm working on a code, I often run save on it. This is a habit that I picked up long ago from using a code editor that often crashed without warning. So, my flow is :

- Thinking.
- Ty

[2019-12-14 07:51] RadhiFadlillah opened #10 "Add options to prevent minified files got minified again"
**Is your feature request related to a problem? Please describe.**

Sometimes when opening a `*.min.js` file, I might accidentally save the file. This is troubling because I'm using this extension with `minifyOnSave` set to `true`, which make the minified file get minified again. Sure, there is  fault in my part (I should stop reflexively press Ctrl+S after every seconds), however it might be bett

[2019-12-14 11:12] Josee9988 commented on #9
Hi, @RadhiFadlillah
I understand your problem and I could imagine how could this stop your workflow and even be annoying, so I'll try to fix it ASAP by adding a setting that will prevent from opening the new minified file.

About the typos:
I'm aware of the problem but I can not just change it because all the users that have these settings will found that these settings will stop working. So proba

[2019-12-14 11:42] Josee9988 commented on #9
Done, download the new version 1.9.0. Use the setting below, it will also prevent from showing a message telling you the file is minified in /path/foo/bar...

[code]

Thanks for helping the extension, If you have more things to ask for improvement feel free to create as many issues as you want or contact me.

I appreciate your help @RadhiFadlillah !

[2019-12-14 11:42] #9 closed

[2019-12-14 13:29] Josee9988 commented on #10
This could be used only in the commands that create a new minified file.
I think this issue/enhancement is not a really big deal, and I don't really think this could help so much.
I understand what your problem is, but the solution might be more time spending for the user than just taking in mind to not save.

What I am trying to say is:

The extension might enable some absolute paths to not be us

[2019-12-14 13:43] RadhiFadlillah commented on #9
Oh my, that was fast. Thank !

[2019-12-14 13:58] RadhiFadlillah commented on #10
Yeah, I'm agree. I just realized the minified output is not automatically saved to file, which make it still undo-able.

With that said, I will close this issue. Thanks for the fast response :smile:

[2019-12-14 13:58] #10 closed

[2019-12-16 17:09] davidpetrey opened #11 "example html minified but with multiple lines"
For some reason my code isn't show correctly here in github.

I've disabled all of my other plugins.

Example html:
[code]

[2019-12-16 17:19] davidpetrey commented on #11
I could not get the code to show properly with the back ticks but now it's displaying the way I'm seeing it.

[2019-12-16 17:23] davidpetrey commented on #11
![image](https://user-images.githubusercontent.com/13895170/70928319-654a3780-1ff6-11ea-8932-e7706fcff8d8.png)

[2019-12-16 17:32] Josee9988 commented on #11
Hi, @davidpetrey I can not understand what is happening or what are you doing.

The code:
[code]

Is giving me the output:
[code]

With all the commands. And the expected code is in just one line.
Maybe you could tell us what command are you using or what is happening because I've used all the commands from the extension and all are giving me the expected output, maybe I'm missing something.

[2019-12-16 19:29] davidpetrey commented on #11
I was just doing "Minify this document and preserve the original" command.  I get same results with "Minify this document".

It's ok. I figured out that I can just Find & Replace new lines to remove them and I get one line of code. That's all I needed.    I must have a setting or something causing the issue.  Thanks anyways.

[2019-12-16 21:26] Josee9988 commented on #11
I have just checked it again with both of the commands you addressed, and I got all the code in one line and perfectly minified. Maybe you have a setting that is splitting the text or something.

Anyways, thanks for trying to improve the extension, your intention is highly appreciated :100:
Thanks @davidpetrey

[2019-12-16 21:26] #11 closed

[2019-12-20 15:49] Icaras12x opened #12 "What about uglifying?"
Could you implement an option to uglify js?

[2019-12-20 15:52] Josee9988 commented on #12
@Icaras12x is terser not working ok?

[2019-12-20 20:49] Icaras12x commented on #12
Hello Jose,
js is minifying the project correctly, what I meant was probably mangling ? I mean the file should change all the name variables. Let me know about this and if it works how to enable this. Cheers

________________________________
Da: Jose Gracia Berenguer <notifications@github.com>
Inviato: venerdì 20 dicembre 2019 16:52
A: Josee9988/MinifyAll <MinifyAll@noreply.github.com>
Cc: Icaras1

[2019-12-20 20:57] Josee9988 commented on #12
@Icaras12x I didn't test terser a lot but I'll take a look about what you are saying, if you could give me some piece of code that demonstrate what you say that could be helpful to test uglify aswell

[2019-12-20 21:52] Icaras12x commented on #12
I don't know what's going on but when I minify I get some errors.
Thanks for your patience.

________________________________
Da: Jose Gracia Berenguer <notifications@github.com>
Inviato: venerdì 20 dicembre 2019 21:57
A: Josee9988/MinifyAll <MinifyAll@noreply.github.com>
Cc: Icaras12x <ale12manto@live.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [Josee9988/MinifyAll] What about uglifyin

[2019-12-21 07:25] Josee9988 commented on #12
@Icaras12x in JavaScript? Address the code so I can test it

[2019-12-21 10:45] Icaras12x commented on #12
Yep it's js

________________________________
Da: Jose Gracia Berenguer <notifications@github.com>
Inviato: sabato 21 dicembre 2019 08:25
A: Josee9988/MinifyAll <MinifyAll@noreply.github.com>
Cc: Icaras12x <ale12manto@live.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [Josee9988/MinifyAll] What about uglifying? (#12)

@Icaras12x<https://github.com/Icaras12x> in JavaScript? Address the cod

[2019-12-21 10:46] Josee9988 commented on #12
@Icaras12x Mind giving me the code that fails so I can test it?

[2019-12-24 13:53] Josee9988 commented on #9
Ps: I've just fixed the typos you mentioned to me, thanks again!

[2019-12-28 08:23] #12 closed

[2020-01-04 11:41] LoHacemosWeb opened #14 "Se abre la version minimizada en la misma pestaña."
A la hora de guardar un documento por ejemplo un .JS, sí que me genera la versión -min.js, pero a su vez me abre en la misma pestaña del código original la versión reducida, por lo que entiendo que se sobre escribiría el original, aparte de no poder seguir modificandolo sin cerrarlo primero.

Configuración usada:
![Sin título-1](https://user-images.githubusercontent.com/7949178/71764930-9e3b4500-2

[2020-01-04 14:58] Josee9988 commented on #14
Hola, @LoHacemosWeb se te abre la pestaña actual minifizada porque tienes la setting

[code]
 "MinifyAll.minifyOnSave": true: Va a minifizar tu pestaña actual. Y a parte tienes:

[code]
La cual te minimiza el actual en un nuevo fichero.

Tu solución es poner minify on save a false.
[code]

[2020-01-04 15:02] Josee9988 commented on #14
No veo que nada esté mal, sino que estás utilizando una configuración de ajustes que realmente no deseas.
Si quieres que solo se te minimice cuando guardas sólo pon:
"MinifyAll.minifyOnSaveToNewFile": true,

Y si quieres que solo se te minimice cuando guardas pero en el documento actual entonces utiliza:
"MinifyAll.minifyOnSave": true,
Aunque es esta setting la que creo que no deseas utilizar.

Un

[2020-01-04 18:45] #14 closed

[2020-01-05 08:56] LoHacemosWeb commented on #14
Ahora si, muchas gracias :)

[2020-01-06 09:05] LoHacemosWeb opened #15 "Agregar extensiones de archivos a omitir."
La idea sería que añadieras la opción de poder agregar una lista de extensiones de archivos ya que por ejemplo he abierto un .php y al guardar me lo ha creado la versión reducida y no debería.

No se como funciona exactamente, pero la idea sería algo asi.
`MinifyAll.ignoreFileExtensions = [".php", ".ext", "etc"]`

Investigaré mas sobre el como funcionan las extensiones del VSCode para poder ayudar

[2020-01-06 09:27] Josee9988 commented on #15
Hola de nuevo!
Ya hay opciones para ignorar tipos de archivos, por ejemplo la de HTML es:

[code]

Tienes de todos los tipos de archivos disponibles menos la de PHP, la cual me acabo de dar cuenta de que no está creada, esta tarde la haré.

De todas formas tenía pensado hacer solo una setting que fuese un array con todos los tipos de archivos, pero de momento, por falta de tiempo y por cómo tengo

[2020-01-06 09:47] LoHacemosWeb commented on #15
Para darte una pista de como implementarlo:
En el archivo **main.js** línea 31:
[code]

[2020-01-06 09:57] Josee9988 commented on #15
Por estar, ya está implementado, y así no se va a poder hacer porque no todos los comandos reciben la extensión desde
vscode.window.activetexteditor.....

La comprobación se realiza en el archivo checkLanguage.ts el cual se llama cada vez que se va a ejecutar un comando dentro de su propio switch case, porque, como ya te he comentado no siempre se recibe igual en cada comando y no siempre se sigue

[2020-01-06 13:02] Josee9988 commented on #15
Hola @LoHacemosWeb , en la nueva versión 2.1.0 ya tienes disponible la configuración para deshabilitar PHP.
[code]

[2020-01-06 19:41] #15 closed

[2020-01-10 15:42] nigelboor opened #16 "HTML spaces removed completely on line endings"
When minifying HTML file some of the words are combined.

Eg:
This...
***
                                                        <p>The role will involve working within Gloucestershire&rsquo;s
                                                            countywide Continuing Health Care Team. You will be
                                                            completing CHC assessments and tak

[2020-01-10 15:53] Josee9988 commented on #16
Hi @nigelboor , when I minify your code this is what it gives me:
[code]

I see the issue, and I'll try to fix this as soon as possible, thanks for letting me know!

[2020-01-10 16:15] Josee9988 commented on #16
Hey, I've found there is not an existent issue in the spaces, but it is giving some bugs because your text is separated in multiple lines, and the extension tries to avoid multiple lines by removing them and creating just one line.
If I let a space when we found a linebreak it will create multiple spaces between HTML labels and also within words.

The problem occurs because for example, the result

[2020-01-10 16:50] nigelboor commented on #16
The solution might be to first convert all line feeds to spaces then minify.

There’s no requirement in text files to terminate a line with space+return so this is something that the extension should handle.
It’s a setting in VSCode
"editor.trimAutoWhitespace": true

--
Nigel Boor

From: Jose Gracia Berenguer <notifications@github.com>
Reply to: Josee9988/MinifyAll <reply@reply.github.com>
Date: F

[2020-01-10 17:04] Josee9988 commented on #16
I'll take a deeper look in how to handle it. Stay tuned.

[2020-01-10 18:50] Josee9988 commented on #16
It is **fixed** in the new version **2.1.1**.
Download it and test it out, if there is any other problem or the original one wasn't solved as you expected to, feel free to keep posting issues or simply telling me.

Thanks for trying to make this extension better, your help is highly appreciated!

[2020-01-10 18:50] #16 closed

[2020-01-10 23:11] nigelboor commented on #16
That fixes the problem, thanks.

I can see one remaining issue: the extension still reduces “</a> “ to “</a>” – it should preserve the space.

I’ve also checked two other inline elements <strong> and <sup>, and similarly “</strong> “ is reduced to “</strong>” and “</sup> “ to “</sup>”.

Other inline elements will have similar issues when trailing spaces are removed although which other HTML elemen

[2020-01-11 07:58] Josee9988 commented on #16
Ow, you are completely right, but I'm afraid to say this won't be fixed anytime soon, because I'm doing it with regex and there is no way to distinct if the "> " that I'm looking is from a strong label or not. :sleepy:

[2020-01-11 09:19] nigelboor commented on #16
Good luck & I hope you crack it.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jose Gracia Berenguer <notifications@github.com>
Sent: Saturday, January 11, 2020 7:58:23 AM
To: Josee9988/MinifyAll <MinifyAll@noreply.github.com>
Cc: Nigel <nigelboor@live.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Josee9988/MinifyAll] HTML spaces removed completely

[2020-01-23 12:30] MatuxCba opened #17 "Problem with "Minify this document and preserve the original""
I have problems using this "Minify this document and preserve the original" function.
My projects are in the drive D: \
The extension tries to save the new file in the C: \ drive

Steps to reproduce the behavior:
1. select the file in my work area
2. Right click on this
3. I select the option "Minify this document and keep the original"
4. I see the following error: Error: ENOENT: no such file or

[2020-01-23 13:21] Josee9988 commented on #17
Hola Matías, presupongo que eres español así que me ahorro el inglés:smile:.

Tu fichero me imagino que está en: D:\Projects\WebVeng\css\fontello.css , pero te añade un C:\ al principio, cierto?

En teoría no es un problema de la extensión en sí, sino del escritor de ficheros de node.

Tengo que admitir que no he probado en Windows a utilizar ese comando en un disco que no fuese el C:

Intentaré r

[2020-01-24 18:58] Josee9988 commented on #17
@MatuxCba , en efecto, hay un probema en windows con ese comando, es problema del FileSaver, que de primeras está detectando mal el path de tu fichero, no funciona en ninguna unidad, ni la **C**, ni la **D**. No sé si llegaré a fixearlo ya que no poseo de un Windows con todas las herramientas de desarrollo y la mayoría de los usuarios utilizan sistemas basados en UNIX, es decir, que no sé si llega

[2020-01-24 18:58] #17 closed

[2020-01-27 02:10] irfantaufiq opened #18 "An issue with the minify json feature"
**The Issue**
When I use this extension to minify a json file, it won't remove space after comma in the json array.

**The Example**
For example, the current version of this extension will minify these lines:
[code]
into `{"Object1":["item1", "item2", "item3"]}` instead of `{"Object1":["item1","item2","item3"]}`.

**The Solution**
For example, you can look at this commit: https://github.com/irfant

[2020-01-27 07:07] Josee9988 commented on #18
Hey, I see the problem, I'll add your changes in a couple of hours, or if you want to could do a pull request.
Anyways thanks for posting our and letting me know of this issue, your help is highly appreciated over there.

Thanks!!

[2020-01-27 10:55] irfantaufiq commented on #18
Thanks for the respons.

It should be noted that my current commit is still have issue when the array item (value) isn't a string.
For example, the following lines:
[code]
will be minified into `{"Object1":["item1",true, 0, "item4"]}` instead of `{"Object1":["item1",true,0,"item4"]}`.

[2020-01-27 11:11] Josee9988 commented on #18
Hey @irfantaufiq , I just fixed these two issues, thanks for the help and for letting me know!!

Make sure to download the latest version from the VSCode marketplace and check the new changes.

Thanks for your help!

[2020-01-27 11:11] #18 closed

[2020-02-08 14:02] kanlukasz opened #19 "Error: ENOENT"
**Describe the bug**
Not working if you try run minify from SideBar

**To Reproduce**
Steps to reproduce the behavior:
1. Open simple folder with simple project
2. Click on this:
![obraz](https://user-images.githubusercontent.com/30685349/74086180-b6b7f580-4a80-11ea-8f60-2fea8ff8487e.png)
3. See error
![obraz](https://user-images.githubusercontent.com/30685349/74086171-a0aa3500-4a80-11ea-8386-b7e4

[2020-02-08 15:59] Josee9988 commented on #19
Duplicate, check issue #17
I am sorry to hear that, I'm completely aware of this problem but for now It won't be fixed.
You have more information in the [duplicated issue](https://github.com/Josee9988/MinifyAll/issues/17)

Thank you for your time and I really appreciate your goodwill.

Thanks!!

[2020-02-08 15:59] #19 closed

[2020-02-08 16:24] kanlukasz commented on #19
Thank you for the quick reply.
I'm afraid I can't check #17 because I don't speak this language
Anyway ... if you can't fix it, it might be a good idea to remove this option. To be honest, I don't think that option it's really necessary

[2020-02-08 16:31] Josee9988 commented on #19
Ow that post was in Spanish, my bad!

I just said that this problem appear only in windows devices and dome of the users are using Linux base systems, so that's the reason why I don't remove the option, because it work in Linux.

I'm so sorry for the inconveniences!

[2020-02-14 20:06] marcelashun opened #20 "CSS minification error"
.mediabox-close {
  background: url(../img/**me**diabox-close.png);
}

get's minified into

.mediabox-close{background:url(../img/**m.e**diabox-close.png);}

[2020-02-14 20:32] Josee9988 commented on #20
Hey, @marcelashun it is **fixed** now.

It was a weird problem with the comment remover.

Thanks for letting me know!!

[2020-02-14 20:32] #20 closed

[2020-02-14 20:33] Josee9988 commented on #20
Ps: Download the next version and check it out.

[2020-02-14 20:51] marcelashun commented on #20
Great it works now,

thx for the quick support. :)

Greets
Marcel

[2020-03-02 19:16] schroef opened #21 "CSS file almsopt completly stripped"
I tried your minify plugin and found it has some issues. Perhaps i missed something in the settings. I seemed to work good on files., then noticed something was showing correctly on my website. Checking on of the minimized files i noticed almost everything got striped somehow

Run this file on your minifier. sorry cant attach *.css here

[code]

[2020-03-03 13:32] Josee9988 commented on #21
Hi, @schroef indeed something seems wrong. I will try to check it and fix it asap. Thanks for your patience and stay tuned!

[2020-03-03 14:03] Josee9988 commented on #21
Hey, @schroef I think I have found the issue. It is actually not a 100% a problem of the extension because it could have been controlled:

[code]

In the global comments, you let a `/*` multiple comment opened and you never close it.
That is the reason why the minifier truncates the text because it searches for a pair closing comment element, and it seems that it finds it at the bottom of the text

[2020-03-03 14:03] #21 closed

[2020-03-10 10:52] giuliac1989 opened #22 "CSS minification issue"
Hi,

I can't minify css files anymore and I can't understand why. The configuration seems correct and also the css file. I've this error: "We can not format this file type yet, use a valid one."

Thanks!

![Schermata 2020-03-10 alle 11 48 57](https://user-images.githubusercontent.com/33481534/76305434-6e7d3480-62c5-11ea-8b51-1db66f7587c7.png)

![Schermata 2020-03-10 alle 11 49 32](https://user-ima

[2020-03-10 11:11] Josee9988 commented on #22
Hi, @giuliac1989 I just tested it and it worked out perfectly, make sure the file type is set to CSS and set your MinifyAll settings to their default settings. Then tell me.

Thanks for posting out!

[2020-03-11 19:26] Josee9988 commented on #22
@giuliac1989 at the bottom right corner choose "select language mode", choose 'CSS', and then try to right-click or go to the command panel and minify the text. I really do think this is the problem.

![Screenshot from 2020-03-11 20-24-42](https://user-images.githubusercontent.com/38838976/76455852-77116000-63d6-11ea-9b25-3081ec4a17e7.png)

[2020-03-12 09:12] giuliac1989 commented on #22
Great! That's the problem!
Thank you very much :)

[2020-03-12 10:55] #22 closed

[2020-03-21 12:26] AndyDaSilva52 opened #23 "Been able to add custom file type (example: imljson is an JSON type)"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to use the tool with for example the file extension `.imljson`. This is a type of file from a Custom SDK. The syntax is the same as `.json`

**Describe the solution you'd like**
I think that one way to solve this is been able to configure this custom type related to another type of file, `.imljson`

[2020-03-21 14:56] Josee9988 commented on #23
Hi, @AndyDaSilva52 I understand your problem and fully understand what you want.
I'll try to take a look and see if I can add a custom rule.
Thanks for letting me know!

[2020-03-21 17:41] AndyDaSilva52 commented on #23
It will be great if anyone could add custom rules at the settings file. Tks

[2020-03-22 10:12] Josee9988 commented on #23
Hi again, @AndyDaSilva52 I'm afraid to say this will not be made at least for now.
I could successfully detect new file types by the user but this will break the entire structure of the application and since I don't have much time and this project is made only for me I will have to postpone it to the future.
For now, it will not be available.

I am so sorry for the inconvenience but as I told you

[2020-03-22 10:12] #23 closed

[2020-03-23 14:17] AndyDaSilva52 commented on #23
I understand. Tks for all

[2020-04-10 14:25] kwizfreak opened #26 "Conserve space after closed tag"
Hi,
if i have this html code :
`<i class="fa fa-exclamation-triangle" aria-hidden="true"/></i> Signaler le numéro`

If i minify i lost the space after the `</i>`tag

`<i class="fa fa-exclamation-triangle" aria-hidden="true"/></i>Signaler le numéro`

Is there any way to prevent that?

[2020-04-10 15:41] Josee9988 commented on #26
Try using: `&nbsp;` as a way to replace that space.

[StackOverflow question about that 'code'](https://stackoverflow.com/questions/16951133/when-to-use-nbsp)

Try it out and let me know if the problem persists ;)

[code]

[2020-04-10 15:53] kwizfreak commented on #26
Perfect :) thanks you

[2020-04-11 11:52] #26 closed

[2020-05-11 22:06] caot opened #34 "Have it work in command line without `vscode`"
**Is your feature request related to a problem? Please describe.**
It's good to have it work in command line without `vscode`. https://github.com/babel/minify is pretty good. Some developers like vscode, however not all of them. So command line is good to have the minified be replicated on different environments or platforms.

**Describe the solution you'd like**
`minify <directory>, the output co

[2020-05-12 07:48] Josee9988 commented on #34
Hi @caot that is definitely a thing I will do and probably in the upcoming days as I have some free time now, but thanks for posting it out because it really motivated me to do it.

For now, you can also minify your code directly from your browser: [minifyall web](https://minifyall.jgracia.es/)

[2020-05-13 14:07] Josee9988 commented on #34
Hi again @caot I have a working command already that even allows minifying a whole directory to find .html/.css/.json files recursively. it will be published as soon as I do some basic testing, write a decent readme.md and do the command tests.
So stay tuned!

[2020-05-15 15:09] Josee9988 commented on #34
Hope this solves this issue [link to the minifyall cli and package npm command](https://github.com/Josee9988/MinifyAllCli).

Hope to see your thoughts and improvements soon @caot
Closing issue.

Thanks for your posting out!

[2020-05-15 15:09] #34 closed

[2020-05-17 10:49] Josee9988 opened #37 "Use MinifyAll-core"

[2020-05-18 07:57] #37 closed

[2020-05-20 17:17] Josee9988 opened #43 "Setup Airbrake for your Node application"
**Step 1:** Add the <a href="https://www.npmjs.com/package/@airbrake/node" class="external-link">library</a>

[code]

**Step 2:** Configure the library

This is a simple Node app `app.js` file that throws an error and sends it to Airbrake. To configure Airbrake in your project, `require` our library and instantiate it with your project credentials:

<small>(You can find your project ID and API key

[2020-05-26 12:16] gwduvalljr opened #48 "Not able to minify JS files"
I am using VS Code. I installed MinifyAll. I am right clicking on a *.js file. All I get is "We will not format this file type because it is disabled." I have checked the settings and JavaScript is not disabled. What am I missing?

[2020-05-26 12:18] Josee9988 commented on #48
Could you share your vscode settings or the minifyall settings that you are using?

[2020-05-26 12:21] gwduvalljr commented on #48
Here is a screenshot of the settings page. Let me know if there is something else you need.

![Screenshot 2020-05-26 at 8 19 48 AM](https://user-images.githubusercontent.com/6506735/82899947-c53ff500-9f29-11ea-970b-31bdc18f5175.png)

[2020-05-26 12:22] Josee9988 commented on #48
I'll check it ASAP. thanks for contributing!

[2020-05-26 12:23] gwduvalljr commented on #48
I really appreciate it. Thank you!

[2020-05-26 12:26] Josee9988 commented on #48
You can minimize it if you open the file, right? It is just if you right-click it from the menu, am I right?

[2020-05-26 12:28] gwduvalljr commented on #48
That appears to be correct. I just tried it and minifying from the open file worked.

[2020-05-26 12:31] Josee9988 commented on #48
There is I problem with the right-click in the menu, I will see what is wrong. and close this issue when the problem is resolved.

Thanks :)

[2020-05-26 12:32] gwduvalljr commented on #48
OK, thanks!

[2020-05-26 13:15] #48 closed

[2020-05-26 13:23] Josee9988 commented on #48
Version 2.3.1 is out now, check it out and if you found any other issue just let us know.

Thanks for contributing @gwduvalljr !

[2020-06-03 16:43] Josee9988 opened #50 "Remove all-contributors badge"

[2020-07-20 21:12] saundersp opened #52 "Can't use 'Minify the selected document and preserve the original (ENOENT W10 error)'"
**Describe the bug**
Can't use 'Minify the selected document and preserve the original :gem:',

**To Reproduce**
Steps to reproduce the behavior:
1. Right click a file (Javascript in my case)
2. Select 'Minify the selected document and preserve the original :gem:'

**Expected behavior**
The minified document should be next to the original one.

**Screenshots**
![image](https://user-images.githubus

[2020-07-21 05:54] Josee9988 commented on #52
Duplicate issue #19 #17

But as it is still giving problems I will try to see if I can find that bug myself.

Thanks for posting the issue. Stay tuned for new updates.

[2020-07-22 15:14] MattiasStorm opened #53 "JSON - Removes space after comma inside strings"
**Describe the bug**
Whenever you minify a JSON document, it removes space after comma inside strings while keeping superfluous spaces in other locations and sometimes keep a new line at the end.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a JSON document
2. Enter something like:
[code]
3. Minify and the output becomes:
[code]

**Expected behavior**
Expected output would be:
[code]

[2020-07-22 15:22] Josee9988 commented on #53
Thanks for the issue! I'll try to fix this problem!

Stay tuned for updates

[2020-07-24 20:42] Zaczero commented on #52
Having the same issue :/

![200724224135_Code_6ba117](https://user-images.githubusercontent.com/10835147/88433702-dfe5fb80-cdfe-11ea-9f1c-fbd8ec53746c.png)

[2020-07-24 20:51] Zaczero opened #54 "MinifyAll.PrefixOfNewMinifiedFiles setting is ignored (prefix is always -min)"
**Describe the bug**
MinifyAll.PrefixOfNewMinifiedFiles setting is ignored, minified file always ends with `-min`.

**To Reproduce**
Video: [200724224651_337eb0.zip](https://github.com/Josee9988/MinifyAll/files/4974180/200724224651_337eb0.zip)

**Expected behavior**
Make it so I can set minified files with `.min` extension :-)

**Screenshots**
N/A

**Additional context**
The issue **ALSO** persist

[2020-07-28 14:16] shyamkushwaha23 opened #55 "Remove console.log from minified JS."
**Is your feature request related to a problem? Please describe.**
In minified js, console.log statements not removed! I minified a js file and found this issue.

**Describe the solution you'd like**
From minified js, console.log statement should be removed.

**Describe alternatives you've considered**
We can add additional setting to remove console.log for js files, and default we can set it to t

[2020-07-28 20:31] Josee9988 commented on #55
I'll work on it as soon as I get in the pc.

Thanks for the issue

[2020-07-28 20:31] Josee9988 commented on #54
I'll check it as soon as I can.

Thanks for contributing!

[2020-08-05 16:30] Josee9988 commented on #55
Hi @shyamkushwaha23 sorry for the late response but right now I'm on vacations and I don't spend nearly 1% of the time on the pc as I used to do.

Anyways, the issue is resolved. Make sure to download the latest MinifAll version (2.4.0) and test it out!

Thanks for contributing to this project :heart:

[2020-08-05 16:33] #50 closed

[2020-08-05 16:33] #55 closed

[2020-08-05 16:44] Josee9988 commented on #54
Hi, I've been testing the minifier and seems like everything is fine. I **can NOT** view your video, so would you mind telling the steps to make the minifier fail or upload the video to a webpage such as Imgur?

Thanks!!!

[2020-08-05 19:47] Zaczero commented on #54
1. Installed the extension
2. Opened js file
3. Noticed it is not saving in correct format
4. Opened VS settings
5. Changed the setting
6. Tried to save again and still nothing

Video uses H265 encoding so that's probably the reason.
https://imgur.com/a/xcxcvfM

[2020-08-06 09:00] shyamkushwaha23 commented on #55
Hi @Josee9988.

Now console.log statements getting removed.

Thanks :)

[2020-08-06 12:08] Josee9988 opened #57 "Remove "upcoming features" in the readme.md file"

[2020-08-06 12:14] Josee9988 opened #58 "Add issue label bot yaml"
Same as MinifyAllWeb repo

[2020-08-11 08:59] #54 closed

[2020-08-11 08:59] #57 closed

[2020-08-11 08:59] #58 closed

[2020-08-11 09:00] Josee9988 commented on #54
Hi, @Zaczero I have been testing it and seems like it is working properly for me. Try to open the *VSCode `settings.json`* file to manually review what settings you have related to MInifyAll.

Maybe there is something that is overriding that setting.

- Try for updates
- Change the setting and then restart VSCode
- Reinstall the extension.
- Make sure to install the newest MinifyAll version (relea

[2020-08-17 13:46] #52 closed

[2020-08-17 13:49] Josee9988 commented on #52
Seems like it is working now.

Download the latest version 2.4.2

Sorry to keep you waiting and thanks for contributing.
Let me know if the problem persists or if it is working as expected.

Thanks!!

[2020-08-17 14:19] Josee9988 commented on #19
It is fixed now!

[2020-08-17 14:19] Josee9988 commented on #17
It is fixed now!

[2020-08-17 15:07] MatuxCba commented on #17
Excelente noticia!..

Buen trabajo José!..
Muchas gracias!

[2020-08-29 01:26] jbfriedrich opened #61 "Option to disable unit removal from calc()"
**Is your feature request related to a problem? Please describe.**
When I am using the Minifier to minify my CSS, it removes that unit from the number in my calc() statements. This seems to be a problem in Chrome, where subtractions of numbers without units will cause an "invalid property value" issue. This is the original CSS:

[code]

which gets minified to this:

[code]

**Describe the solution

[2020-08-29 06:52] Josee9988 commented on #61
The problem that you are referencing is that `0px` is being minified to `0`, right?

[2020-08-29 17:09] jbfriedrich commented on #61
That is correct. It is funny though, Chrome seems to only mind when you do an addition or subtraction. When you do a multiplication, it accepts the unit-less value just fine.

Yes, when I use the non-minified file, and remove the px value, the error occurs as well.

[2020-08-29 17:26] Josee9988 commented on #61
Then I'll try to ignore the removal of the 0px when there is a calc call.

[2020-08-29 17:33] jbfriedrich commented on #61
Is it only removing px units from the numbers, or other value units as well, like rem or %? I think the option would need to take these into account as well.

[2020-08-29 19:35] Josee9988 commented on #61
MinifyAll only removes the unit `px` when the value is `0`. So if you try `1px` it should not remove the unit `px`.

[2020-09-02 09:28] Josee9988 opened #63 "Npm command to update core"
Npm script command to update to the latest version of MinifyAllCli, write the basic changelog, commit, and push to branch.

[2020-09-05 13:31] #63 closed

[2020-09-18 17:35] sankarkumar23 opened #65 "Not working if code contains Optional Chaining Operator"
Looks like javascript's Optional Chaining Operator "?." has not been incorporated.
Giving out error if code contains "?."
Appreciate if this can be fixed ASAP.

[2020-09-18 17:49] Josee9988 commented on #65
TL;DR

The JS minimization is done by an external package called [terser](https://github.com/terser/terser) which is out of my hands and it is not developed by me.

---

Hi, JavaScript minimization is done witj a 3rd party package, which it is not developed by me.
The rest of the languages are fully made by me but not the JS one.

The terser's JS minimization is an extra feature for the extension

[2020-09-18 18:29] sankarkumar23 commented on #65
Thanks for the information.

[2020-09-19 05:57] Josee9988 commented on #65
Anyways, I will update the terser package to obtain the latest features.

[2020-09-20 19:01] sankarkumar23 commented on #65
After contacting terser this feature has been incorporated with v5.2.0.
https://github.com/Josee9988/MinifyAll/blob/8a350fb1c45b981e1f41cf8bc3b0fb71dc3e2927/package.json#L263
Can I update to latest terser version in my local machine.. until you update your package. If yes, please explain how?

[2020-09-20 19:27] Josee9988 commented on #65
I will try to publish a new version tomorrow.

If you need it now, go to the VSCode extension folder, search the MinifyAll folder, then open a terminal and write:

`
npm update terser
`

[2020-09-20 20:06] sankarkumar23 commented on #65
Awesome.. If it can happen very soon.. I'll wait. Thank a lot for all your support.

[2020-09-20 20:06] #65 closed

[2020-09-20 20:16] Josee9988 commented on #65
I'll comment again when the terser package is updatedm

[2020-09-21 08:09] Josee9988 commented on #65
Update the MinifyAll extension to its latest version (2.4.7).

Terser was updated to 5.3.2.

[2020-09-21 12:48] sankarkumar23 commented on #65
Not sure If I am missing something.. after upgrade minify is completely failing.. it is generating a min file with no content.. just showing undefined.

[2020-09-21 12:54] Josee9988 commented on #65
Please post a new issue with detailed information/media prove about this new issue.

[2020-09-21 17:19] danloh opened #66 "V2.4.7 failing"
# **🐞 Bug Report**

## **Describe the bug**

V2.4.7 Does not work at all, generate a blank file, delete everything when minify js file.

---

### **Is this a regression?**

Yes, it works well in v2.4.6

---

### **To Reproduce**

Just use it

---

### **Expected behaviour**

work like previous version

---

### **Your environment**

* OS: Ubuntu 5.4.0-47-generic x86_64
* Node version:  14.5
* Npm

[2020-09-21 17:41] Josee9988 commented on #66
I will check it. Thanks for the issue!

[2020-09-21 20:56] ehernandezperez commented on #66
Same problem here, but the resulting minified file is not empty, it contains the text "Undefined".

[2020-09-22 07:18] Josee9988 commented on #66
Only for js minimization right?

[2020-09-22 08:36] ehernandezperez commented on #66
Yes, with JavaScript files and using "Minify this document and preserve the original".

[2020-09-22 08:38] Josee9988 commented on #66
I will try to fix it in a couple of hours. Thanks for your patience ❤️

[2020-09-22 10:00] Josee9988 commented on #66
Hey, update your MinifyAlll extension to **2.4.9**, and it should work again as expected. :D

[2020-09-22 10:00] #66 closed

[2020-10-11 19:45] COD3BREAK3R opened #67 "Don't work any minify on save options"
When I active the option for minify when I save don't work in any of the options

Steps to reproduce the error:

1. Go to extension settings
2. Activate any option for minify on save
3. Press Ctrl+S
4. Don't work, don't minify the document

VS Code 1.49.2
Windows 10 1809 x64

[2020-10-12 11:03] Josee9988 commented on #67
Hi, right now I'm pretty busy. I will check it as soon as I have some time.

Sorry for the inconvenience

[2020-10-12 11:51] Josee9988 commented on #67
Hey, I have checked it out, and it works for me!

I'm currently using the last VSCode version (1.50.0)

Please, specify more information or post a video as evidence.

Thanks!

[2020-10-13 18:30] COD3BREAK3R commented on #67
I updated to VS Code 1.50 and it works, but the problem is the setting is not applied unless the VS Code is closed and reopened.

[2020-10-13 18:32] Josee9988 commented on #67
Yes, you have to restart the VSCode to let MinfiyAll load all the new settings (which is done in the start)

:D

[2020-10-13 18:32] #67 closed

[2020-10-29 19:24] AdrianCarreno opened #68 "MinifyAll not deleting spaces in JSON arrays"
Issue Type: <b>Bug</b>

Just try to minify a number array:
[code]
And it will keep the spaces between numbers. They are not necessary for syntax, and use a lot of space. I tried formatting a GeoJSON and it didn't get to the minimal size. It's annoying to have to use another command (regex in my case) to delete the remaining spaces.

Extension version: 2.4.9
VS Code version: Code 1.50.1 (d2e414d9e4

[2020-10-29 21:21] Josee9988 commented on #68
Hi, I will check it tomorrow! Thanks for contributing

[2020-10-30 07:49] Josee9988 commented on #68
@AdrianCarreno the result the minifier gives me is: `[[1,2,3],[4,5,6],[7,8,9]]`.

So for me it is working perfectly.

[Video evidence](https://i.imgur.com/fRkFBtx.gif)

[2020-10-30 07:51] Josee9988 commented on #68
To try it again, please, reinstall the extension or try it in a different environment.

[2020-10-30 08:04] Josee9988 commented on #68
I was thinking and... maybe you are minifying this json code as other language such as HTML.

Make sure the file that you are minifying ends with .json or .jsonc and VSCode detects it as so at the bottom right corner.

[2020-10-30 09:40] prShadoko opened #69 "Minifying JSON removes spaces around colons inside string values"
How to reproduce :

1. Create a JSON file with following content
[code]

2. Minify the document

Expected result :
[code]

Actual result :
[code]

[2020-10-30 11:04] Josee9988 commented on #69
This is a known issue.

I will try to fix it, but as of now, my time in this project is very limited, but I'll do my best.

Thanks for contributing!

[2020-10-30 18:57] AdrianCarreno commented on #68
It's the same
![ezgif com-gif-maker](https://user-images.githubusercontent.com/14844417/97746117-945f7f80-1ac8-11eb-8489-0eb42bb947ef.gif)

[2020-10-30 19:03] Josee9988 commented on #68
I tried again [video evidence v2](blob:https://imgur.com/678042d8-2ffa-4fd3-9d5d-74da3bb22099)

![Peek 2020-10-30 19-59](https://user-images.githubusercontent.com/38838976/97746459-a2be9300-1aea-11eb-9e63-72156825e558.gif)

It is so weird, I've been trying off-camera and nothing weird happened. I don't think this is a MinifyAll issue, and maybe it has something to do with node or VSCode.

Could yo

[2020-10-30 22:24] AdrianCarreno commented on #68
All the previous test were done in my work PC. Now I'm home and tried with my personal PC and got the same result. It's a fresh install of windows (I formatted last weekend), so everything is up to date.
I tried with all the extensions disabled, and the problem persists.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/14844417/97761795-6e94a380-1ae5-11eb-9d4a-5adb5e4c947e.gif)

M

[2020-10-31 06:36] Josee9988 commented on #68
I will try it on windows aswell

[2020-11-02 11:09] VoidNoire opened #70 "Option to preserve original variable names."
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

* I use this extension to aid in refactoring code and removing redundancies, and it works pretty well for that purpose, except for the fact that it renames variables. (As an aside, if there are other tools specifically made for this purpose, I'd definitely be interested to know about them.)

---

## **D

[2020-11-02 13:42] Josee9988 commented on #70
The minifier renames the variables and function names to save space and make the code faster.

I am able to add this option but it should wait a little bit because I'm a bit busy with my university degree. But I can definitely do it.

Thanks for contributing

[2020-12-01 09:44] caoshouse opened #71 "Does dot rename JS variables in HTML files inside <script> tag"
# **🐞 Bug Report**

## **Describe the bug**

Exactly as mentioned in the title:

**This Code:**

[code]

**After minifing, this is the resul:**

[code]

### **Your environment**

* OS: Windows 10
* Node version: 12.19.0

[2020-12-01 14:27] Josee9988 commented on #71
This is definitely something that I would like to implement in the future (as soon as I have some free time).

I'll keep you updated, but for now, my time is extremely limited.

Thanks for the issue!

[2020-12-02 01:25] EPIVISION opened #72 "activation only on supported file types😉"
*enhancement*

https://github.com/Josee9988/MinifyAll/blob/420dcc72ae0eedaa32a9d1388334c00e884cbc4b/package.json#L69 | activation only on supported file types (reduce vs code startup time) [see here](https://code.visualstudio.com/api/references/activation-events#onLanguage)
-|-
![drake no](https://s3.amazonaws.com/hiphopdx-production/2015/10/drake-hotline-bling-jacket-moncler.png)|![drake yes](htt

[2020-12-02 06:24] aavinseth opened #73 "Removing code on minify in js"
# **Blank Issue Report**

## **Describe the issue**

I have enabled setting Minify On Save To New FIle. In minified file its also removing the function call which is present in original.

Original Code:
[code]
Minified Code:
[code]
As you can see ucsb() function is removed in minified in case college and stream
*

---

### **Media prove**

---

### **Your environment**

* OS:  Windows 10 20H2
* No

[2020-12-02 19:44] Josee9988 commented on #72
I will do that as soon as I can.
Firsts versions of MinifyAll were not activating on every file type, but due to a VSCode old error, I had to set it to *. But I'm sure it is fixed now.

Thanks!!!

[2020-12-03 07:09] Josee9988 commented on #73
This is a problem with **Terser**, so you should post an issue [in their repository](https://github.com/terser/terser).

Thanks for the issue and sorry for not being able to help you!

[2020-12-03 07:09] #73 closed

[2020-12-03 09:36] #72 closed

[2020-12-03 09:37] Josee9988 commented on #72
MinifyAll version 2.4.10 is already published. Please check it out!

[2021-01-14 13:34] drodiger opened #75 "Space removed in JSON values"
# **🐞 Bug Report**

## **Describe the bug**

Version 2.4.13 on VS Code 1.52.1

On JSON which has string value, space in value is removed on minify.
Example
{
    "headers": "Content-Type:application/json\nAccept: application/json",
    "body": "{\"login\":{\"username\": \"${username}\",\"password\": \"${password}\"}}"
}
Space in values are removed on Minify. Example, after Accept:, between usernam

[2021-01-14 13:43] drodiger opened #76 "Minify on JavaScript doesn't work correctly"
# **🐞 Bug Report**

## **Describe the bug**

If I minify following code:
[code]
this is translated on minify to:
`function jsonPath(n,t,e){e&&e.resultType}
`
Variable P is javascript JSON object, maybe it uses JSON minify, instead of JavaScript minify.
Whole file is tagged as JavaScript document, not JSON.

### **Your environment**

* OS: Win 10
VS Code: 1.52.1 (user)
MinifyAll: 2.4.13
---

[2021-01-14 13:59] Josee9988 commented on #76
Hi! Thanks for posting out! Any JavaScript issue should be added in the Terser's repository. MinifyAll uses their js minifier. The other languages are made by me, but the js minimization comes from Terser.

[2021-01-14 14:32] drodiger commented on #76
I will check there. I see they have 134 open issues...

[2021-01-14 14:57] Josee9988 commented on #76
I know, if they fixed the problem you addressed, then I just have to update their package and update the minifier

[2021-01-14 14:58] #76 closed

[2021-01-14 15:01] Josee9988 commented on #75
It should work as expected, right? I mean, the space removed is not making your code wrong. If this is a JSON, then the space after the ":" is useless.
Does the minified code give you any kind of problem compared to the non-minified one?

Thanks for posting out!

[2021-01-14 15:23] drodiger commented on #75
Data between " and " should not be changed in any way. This is a string value.
It didn't influence me for now, but there could be data, that need to preserve space.
{"key":"val  ue"} this should not be translated into {"key":"value"}

[2021-01-14 15:28] drodiger commented on #75
BTW, I have JSON as string value. To have " inside string value, I have to use \ before ".
So: "**{\\"login\\":{\\"username\\": \\"${username}\\",\\"password\\": \\"${password}\\"}}**"  Bold is value that should not be checked or minified in any way.

[2021-01-14 15:32] Josee9988 commented on #75
I will try to check it as soon as I have some free time. Thanks!

[2021-02-01 15:19] grininmonkey opened #77 "Archlinux Distros and VS Code - Marketplace"
For those of us using VSCode from the main ( Non AUR ) repository, VSCode is only searching OpenVSX and not VSCode marketplace... which means searching for extensions or attempting to install via typical instructions such as the ones provided for this extension currently do not work because this extension does not appear to be published to OpenVSX.

The work-around is to manually download and inst

[2021-02-01 19:48] Josee9988 commented on #77
I'll try to publish it to OpenVSX

[2021-02-01 19:59] Josee9988 commented on #77
Done, I guess
![image](https://user-images.githubusercontent.com/38838976/106511269-4f385880-64d0-11eb-9f0c-2dc7a7eba4de.png)
https://open-vsx.org/extension/Josee9988/minifyall

Tell me if it works!
Thanks!

[2021-02-01 19:59] #77 closed

[2021-02-02 09:22] Josee9988 commented on #70
Hi again, could you provide a sample text for me to try this out.

[2021-02-02 11:08] VoidNoire commented on #70
Ah hey. Not sure exactly what you're looking for, but assuming it's JS code that uses variables with long names, [maybe this could fit the bill](https://www.dropbox.com/s/ggkfnimxmpgyct8/VoidNoire-VoidNoire-cs50-problems-2020-x-project-20201217T181642.628626913Z.zip?dl=0&file_subpath=%2FVoidNoire-VoidNoire-cs50-problems-2020-x-project-20201217T181642.628626913Z%2Fnicoty.sbin.stock.trader.js)?

[2021-02-02 14:37] #70 closed

[2021-02-02 14:38] Josee9988 commented on #70
The upcoming minfiyall version should fully fix this issue.
There is a new setting called "terserMinifyOptions", which will let you specify any terser option you need. Including keeping fnames or variable names.
All the options available are listed here: https://github.com/terser/terser#minify-options

[2021-02-02 14:40] Josee9988 commented on #70
The version 2.5.0 is now available. Check it out and modify the settings. If something is wrong please tell me.

Thanks for contributing!

[2021-02-22 17:57] dougkozar opened #79 "Does MinifyAll Extension Work with SFTP"
I use SFTP by liximomo for file uploads to the server. When I minify a file using your extension, it saves locally but does not upload to the server. My SFTP settings are set to upload on save and works fine with all files on my local machine except newly minified files.

Does your extension interact with SFTP to auto upload to the server upon local save & minify? If so, how do I make it happen?

[2021-02-22 18:00] dougkozar opened #80 "Minified file contains a leading space"
Not a huge deal, but just an FYI that when I minify a CSS file the minified files has a space at the beginning containing an extra/unnecessary character.

[2021-02-22 18:00] Josee9988 commented on #79
Hi, the extension does not interact at any way with SFTP, it should not be a problem at all. If you are automating the process, make sure you minify the file with the name that you are expecting and then uploading it.

[2021-02-22 18:02] Josee9988 commented on #80
So it has an extra space at the very beginning of the file?

Could you provide a file/code so I can test it out

Thanks for contributing!!

[2021-02-22 18:04] dougkozar commented on #79
I was looking to see if there was anyway for your extension to auto upload to the server on save (in addition to it saving the minified file locally). I was hoping I would not have to open the minified file in VS Code and the manually upload it.

[2021-02-22 18:12] Josee9988 commented on #79
I have a npm extension so you could fully automate it without needing to open vscode.
Here is the project https://github.com/Josee9988/MinifyAllCli

[2021-02-22 18:14] dougkozar commented on #80
Here you go @Josee9988

`/* 2021-02-22: color scheme style sheet | this is the default and first style sheet in the cascade */

/**
 * Global Style Variables
 */
 :root {
  --text-color: #333; /* Dark Gray */
  --link-color: #FF4500; /* Accessible Orange */
}
`

[2021-02-22 18:17] Josee9988 commented on #80
I can not replicate this blank space and I have never seen this behavior in MinifyAll! Could u send a video so I can see what might be causing this? Thanks!

[2021-02-22 18:18] Josee9988 commented on #80
Ok I see it now. I'll fix this. NP

[2021-02-22 18:31] dougkozar commented on #80
Oh, ok. I created a screen cast....do you need to see it?

[2021-02-22 18:41] dougkozar commented on #79
Ok, but I think the answer to posted question is "**no**", I cannot set the MinifyAll extension to auto upload a saved/minified file to the server, Correct?

[2021-02-22 18:56] dougkozar commented on #79
I can alter my processes to manually save (so it auto uploads to the server) the newly minified file but when I do, I get another minified file. See screenshot. Just an FYI.
![Screen Shot 2021-02-22 at 1 53 52 PM](https://user-images.githubusercontent.com/14360071/108755806-b36d9b80-7515-11eb-8bff-92668d0b8a9d.png)

[2021-02-22 21:53] Josee9988 commented on #79
No, MinifyAll just minifies the code. If you want to upload it, then you will have to do so manually or automate a task.

[2021-02-22 21:56] Josee9988 commented on #80
I don't need it now, thanks anyways!!

[2021-02-22 22:14] dougkozar commented on #79
Thanks. Is "automating tasks" something easy to learn and do within VS Code?

[2021-02-23 07:08] Josee9988 commented on #79
Not a VSCode related thing. You may do a shell script and upload the files to your server using scp

[2021-02-23 07:08] #79 closed

[2021-03-01 13:14] dazhoudotnet opened #81 "error when inner comments"
eg:

`
<script>
    function test($targetForm, data) {
        $.map(data, function (value, key) {
            if (key == "A") {
                alert('A')
            };
            // if (key == "B") {
            // }
        });
    }
</script>
`

will get the code:

`<script>function test($targetForm, data){ $.map(data, function (value, key){ if (key=="A"){ alert('A')}; // if (key=="B"){ //}}

[2021-03-01 14:07] Josee9988 commented on #81
Is this minified as JS right?

[2021-03-01 14:09] dazhoudotnet commented on #81
HTML included script block.

[2021-03-01 14:13] Josee9988 commented on #81
Script or Style blocks inside an HTML page are not supported yet. Sorry for the inconvenience

[2021-03-14 10:16] CLiX90 opened #84 "Space is removed after a colon inside html tag"
If an space after a colon is inside an html tag, then the space is removed.

For example:
"<p>This is my text: hello world</p>"   -->  "<p>This is my text:hello world</p>"

[2021-03-14 10:46] Josee9988 commented on #84
I'll check this out

[2021-03-14 20:18] CLiX90 commented on #84
If you have a tag inside, then a similar issue exist:

[code]

[2021-03-15 21:26] Josee9988 commented on #84
For spaces after a tag you may want to use `&nbsp;`, as this peculiarity will not be fixed anytime soon.

[2021-04-01 12:59] juanyves opened #86 "Unfounded message"
I enabled minifyOnSaveToNewFile and minifyOnSave is disabled by default as I want the format on a new file.
I don't want to disable the message.
Any way thanks for that nice extension

[2021-04-01 13:13] Josee9988 commented on #86
So it does not minify your file?

What file type are you minifying (.css, .js, .html)...?

Thanks for the issue!

[2021-04-01 13:34] Josee9988 commented on #86
Hey I can't see your issue description, have you deleted it? 😄

[2021-04-01 13:41] juanyves commented on #86
That was a mistake.
What I mean is that if a type of file is disable always comes out the advice that it will not be formatted because it's disabled. That message will always comes out without necessity. May be it can be disabled.
Previously I had the problem that it was comming out even for the js files minified on a new file but since I disabled the messages and enbled them again it doesn't come

[2021-04-01 14:14] Josee9988 commented on #86
Ow I get it, the message is shown because you have MinifyaonSave enabled. I will fix it

[2021-04-01 16:21] #86 closed

[2021-04-01 16:27] Josee9988 commented on #86
I think I fixed it, download the latest extension version (2.5.9) and check it out.

Thanks for contributing and consider star-ing⭐ the project if you enjoy it!🔥

[2021-04-04 18:39] bluedasher13 opened #88 "superfluous space and unit in CSS file"
**in a CSS file**:

 * before minified:
[code]

 * after minified:
[code]

 * expected:
[code]

The `space` between property name `width` and colon `:` is not necessary.

And the unit of `0%` is not unnecessary, too. It should be just `0`.

[2021-04-04 18:55] Josee9988 commented on #88
This is working in JSON but I will implement it in CSS in the upcoming days

[2021-04-04 18:55] Josee9988 commented on #88
Stay tuned
Thanks for posting!

[2021-04-05 19:44] Josee9988 commented on #88
The new version will be out today or tomorrow with this issue fixed :D

[2021-04-06 11:03] maxresnikoff opened #90 "Percent sign being removed in CSS Calc()"
This
width: calc(100% - 60px);

Is being minified to this:
width:calc(100 - 60px);

Not sure if this is a bug or a setting, but I can't find this as a setting to change.

[2021-04-06 11:05] Josee9988 commented on #90
This is a bug from an issue I fixed today, I will fix it RN

[2021-04-06 14:06] digiage opened #92 "Hex minimization brokes the minifier"
# **🐞 Bug Report**

## **Describe the bug**

seems like the minify CSS now stripping out the '%'.
I found out it strips % for those in my css:
width: 100%;        ( ->  width: 100; ... etc)
height: 100%;
-webkit-text-size-adjust: 100%;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
-ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%;
border-color: hsl(188deg 54% 70%);   (  ->   border-color: hs

[2021-04-06 14:12] Josee9988 commented on #92
I uploaded a new version with this but apparently fixed. What MinifyAll version are you using?

[2021-04-06 14:22] digiage commented on #92
Thanks for fast reply. It was v2.5.11, but there was a message like "refresh needed...". So I clicked that and now no minified file is exported. I get this message:
Command 'Minify this document and preserve the original ⛏' resulted in an error (command 'extension.MinifyAll2OtherDoc' not found)

[2021-04-06 14:24] Josee9988 commented on #92
@digiage I have checked your code with the version I just published this morning and it doesn't remove the "%" characters.
Please check your MinifyAll version is **2.5.11**

Try it and if the issue still persists comment again.
Thanks and sorry for the inconvenience!

[2021-04-06 14:49] digiage commented on #92
Thank you, but I have restarted VSC, uninstall and reinstal MinifyAll and restarted Windows. Nothing happens when I use the 'Minify this document and preserve the original' or other two commands

[2021-04-06 15:04] Josee9988 commented on #92
Can you run the command Minify the selected text or Minify this document? Because I know there is an issue with the right click minify this document and preserve the original in Windows.

[2021-04-06 15:24] digiage commented on #92
This does not work too. I have tried other projects and also independent files with no luck. The right click on 'Minify this document and preserve the original' worked well before even on Win.

[2021-04-06 15:50] digiage commented on #92
The issue still throws thiss error: Command 'Minify the selected document and preserve the original 💎' resulted in an error (command 'extension.MinifyAll2OtherDocSelected' not found)

[2021-04-06 17:08] Josee9988 commented on #92
I only added 2 regex expressions in the today's update. There should be anything related to the "command not found" error.

[2021-04-06 17:15] Josee9988 commented on #92
I've researching and as I expected this seems like a VSCode/Windows bug.
Most of the people fix this by reinstalling the extension. But I would recommend removing it and looking for the VSCode extension file path and manually removing the extension folder if it is not removed. Anyways I'll try to look for more information

[2021-04-06 18:45] Josee9988 commented on #92
Seems like the out/ folder hasn't been uploaded to the vscode marketplace so any command will be found. I will fix it ASAP

[2021-04-06 18:55] Josee9988 commented on #92
Please update to the newest version and this should be fixed!

[2021-04-07 20:44] digiage commented on #92
perfect. works well now. thanks

[2021-04-08 17:49] eddiepmonark opened #93 "Seems to create the file but somehow not really there"
Installed and restarted vscode, pressed CTRL+ALT+N and it seems to create a new file leaving the original as well as expected.
I even open the file from explorer or vscode sidebar and it's there.

BUT when I ALT+click on the link file from my html doc to go and open the new minified js file, I get this

Unable to open 'filenamer.min.js'
Unable to read file '........... file location' (Error: Unabl

[2021-04-08 17:52] Josee9988 commented on #93
Is the file that you are creating with CTRL+ALT+N actually in your file system or is it a scratch file?

What minifyall command are you using?

May you send a video so I can see what the exact problem is?

Thanks!

[2021-04-08 17:55] eddiepmonark commented on #93
It is being created since I see it on my folder and in vscode. After the shortcut, vscode opens the file, then I was trying to link to it (adding .min) and another time I tried to SAVE the file in case it wasn't saved. Same.

I believe I was clear on that and on the command I'm using.

[2021-04-08 18:05] Josee9988 commented on #93
Well... a video could be helpful or if you could give more information.

So I would like to deeply analyze what the problem is. I surely don't know which of the 4 MinifyAll commands are you using and I would love to be 100% sure before I check anything.

All the tests are working in my machine and all the command seems to work ok, so I want to know exactly what doesn't work.

[2021-04-09 08:48] Josee9988 commented on #93
Is the newly created file accessible through your file system and it is correctly minified?

[2021-04-09 11:46] Josee9988 commented on #93
@eddiepmonark I have checked all the commands in Windows and Linux and I got no problem whatsoever, anyways, what you are telling me doesn't seem like a bug produced from the extension. But I really need more information to evaluate what may be going on.

[2021-04-10 17:14] digiage commented on #92
hi, sorry to bother you again, but it again stopped working.  again exactly the same issue.

[2021-04-10 19:53] Josee9988 commented on #92
Like, suddenly?

[2021-04-10 20:52] digiage commented on #92
exactly, I am not sure how that is possible. It worked after your changes. still version v2.5.12. No method works.
I also reinstaled plugin again and still the same. The only setting I changed was -min to .min and then to -min again.
When ctrl + shift + p used, then again this message.
![image](https://user-images.githubusercontent.com/73428488/114284304-3e1b4300-9a4f-11eb-803a-8546265e5295.png)

[2021-04-10 21:01] Josee9988 commented on #92
Well that's weird. Could you go to the VSCode extensions folder, and see inside the extension if there is an out/ folder? Or if the node_modules folder is there?

[2021-04-10 21:47] digiage commented on #92
yes, they are
![image](https://user-images.githubusercontent.com/73428488/114285394-116b2980-9a57-11eb-9264-e79360932c6e.png)

[2021-04-11 05:44] Josee9988 commented on #92
Are they empty?

[2021-04-11 06:17] digiage commented on #92
no. if you need any other folder content, just let me know.
![image](https://user-images.githubusercontent.com/73428488/114294357-5d8d8c80-9a9e-11eb-8081-9119b2628e83.png)

[2021-04-11 06:45] Josee9988 commented on #92
Ok thanks! I'll try to think for something

[2021-04-11 06:53] digiage commented on #92
thank you. I investigate furthermore and found out that JS seems to be minified and some of css too. there is issue just with those marked css (in this particular project). Now I have the ending set to '-min'.
![image](https://user-images.githubusercontent.com/73428488/114295098-57e67580-9aa3-11eb-82b0-57968112259b.png)

[2021-04-11 06:53] Josee9988 commented on #92
Do the other commands work? Or only the one you click in the explorer the file and minifies without opening the file?

[2021-04-11 07:52] digiage commented on #92
yes. all the commands the same, except portions like "Minify selected text". That one I used to find the issue by minifiing parts of the file.
The issue seems like a combination of comas and rgb, but when there are comas and spaces it works (rgb(226,226,226) vs rgb(226, 226, 226)).
rgba works with comas, spaces works too.
if I play around with the notation in files which did not work before, then

[2021-04-11 10:05] Josee9988 commented on #92
I'll take a deeper look at it

[2021-04-11 11:50] Josee9988 commented on #92
Could you try it again with the newest version (2.5.18) I've been really checking the deployment and what the causes might be, and I think I've fixed it, but I would like an extra confirmation of yours :)

[2021-04-11 11:50] Josee9988 commented on #93
Could you try it again with the newest version (2.5.18) I've been really checking the deployment and what the causes might be, and I think I've fixed it, but I would like an extra confirmation of yours :)

[2021-04-11 18:36] digiage commented on #92
Sorry to say, but at least some still persist. I upgraded and also later deleted (folders of extension) and reinstalled. I have made the css for testing if you want. Attaching
[test.css.txt](https://github.com/Josee9988/MinifyAll/files/6292506/test.css.txt)

[2021-04-11 18:42] Josee9988 commented on #92
@digiage , I attach a video minifying the file you sent me (I only added a class to not make the vscode shout for incorrect code 😆)

So, all the minimization that i'm performing in the video doesn't work in your machine, right?

[Video prove](https://imgur.com/a/pH7IOw9)

[2021-04-11 19:27] digiage commented on #92
It looks different, then in mine. Isn't there anything in your VSCode which changes the syntax for colors?
As of what I see, the issue is with rgb and comas (without spaces). I hope I got it correctly that the rgb() and rgba() should be equivalents so they both should take alpha parameter (https://developer.mozilla.org/en-US/docs/Web/CSS/color_value). In your video for linear-gradient there is rgb

[2021-04-11 19:30] digiage commented on #92
oh, I see, you have the part under "works". Which is the code that I found working well :-)

[2021-04-11 19:39] Josee9988 commented on #92
[Video with the part under "doesn't work"](https://i.imgur.com/3BiHbfl.mp4)

[2021-04-11 19:45] Josee9988 commented on #92
I also send you a video with all the extensions disabled but MinifyAll, so we can surely say that no other extension is interfering.
Also I'm using all the default minifyall settings. [the vid](https://i.imgur.com/ZpjV5Nm.mp4)

[2021-04-11 19:53] Josee9988 commented on #92
So exactly what the problem is with these two codes? Is the issue from the 'command not found' fixed?

Thanks for all your patiente ❤️ :octocat:

[2021-04-11 20:20] digiage commented on #92
you nailed it. I disabled all the extensions with --disable-extensions, then enabled one by one and gues what... it works now with all extensions enabled. so, I am really not sure where the issue could have been.

 Thank you for your time and quick replies and sorry to got you stucked for a bit.

[2021-04-11 20:22] Josee9988 commented on #92
Wow, so the issue will probably be caused by other extensions!
You might try to disable one by one to try to see which one might be causing the problem.

We might consider this issue as solved, right? 😄

[2021-04-11 20:33] digiage commented on #92
Yes, probably, but they are all enabled and it works now :-D  So i guess I will not find out by disabling.

Yes, please consider the issue resolved.
Gracias y saludos

[2021-04-11 20:36] Josee9988 commented on #92
This is a complete headache 😆, we will probably never know!!
Remember to star the project to see the upcoming bug-free features 🤣

If anything else happens feel free to post another issue and I'll be happy to help if I can.

Thanks for all.

[2021-04-12 05:41] devmahdi404 opened #98 "New extension icon"
can you upgrade the extension icon, that would be nice.

[2021-04-12 06:07] Josee9988 commented on #98
Definitely it needs an update, but as I don't earn a single $ with it I can pay a fiverr designer to make me a decent one. I'll have to do something myself which will be pretty ...

[2021-04-12 07:53] Josee9988 commented on #98
I could only do something with tools like: https://www.freelogodesign.org/
![minifyall?](https://user-images.githubusercontent.com/38838976/114359144-f4784880-9b73-11eb-84b9-fd4f3ca15b08.png)
![minifyall?2](https://user-images.githubusercontent.com/38838976/114359852-b0397800-9b74-11eb-99dc-a2969ce63f45.png)
![minifyall?3](https://user-images.githubusercontent.com/38838976/114359858-b16aa500-9b74-

[2021-04-12 10:30] digiage commented on #92
Sorry to reopen. The issue appeared again. In settings I switched off hexa shortener, restarted VSC and minifiing stopped to work. So, I probably found the issue. It works well, if Disable Hexadecimal Shortener is checked. If unchecked, then it won't work for my code (some types of color notations). I apparently also have to close VSC and reopen it for settings changes (hexa shortener) to apply.

[2021-04-12 10:33] Josee9988 commented on #92
Give some code samples and what the expected values are if anything is wrong.

[2021-04-12 10:41] Josee9988 commented on #92
Ok, it doesn't work for me either. I'll take a look at it

[2021-04-12 12:58] DevMahdi404 commented on #98
the second logo is quite good, you could use that. And thanks for such an amazing extension ❤️❤️

[2021-04-12 13:18] Josee9988 commented on #98
Yeah, this one is not bad at all but for the free version I only get a 200x200px file, so it is really not worth

Thanks for your support

[2021-04-12 18:13] DevMahdi404 commented on #98
the official recommendation on [Github ](https://github.com/Microsoft/vscode-docs/issues/1101)is 128x128. So, it might work well.

[2021-04-12 18:31] eddiepmonark commented on #93
I will give a try later today.
Sorry got so much to clean up.
________________________________
From: Jose Gracia Berenguer ***@***.***>
Sent: 11 April 2021 04:50
To: Josee9988/MinifyAll ***@***.***>
Cc: Eddie Potros ***@***.***>; Mention ***@***.***>
Subject: Re: [Josee9988/MinifyAll] Seems to create the file but somehow not really there (#93)

Could you try it again with the newest version (2.5.1

[2021-04-12 18:34] Josee9988 commented on #98
I'll probably post an update tomorrow so you can see how it looks an decide whether to rollback to the original or not

[2021-04-13 08:25] Josee9988 commented on #98
I updated the icon with the second one that you liked, we'll see if I keep it or rollback to the previous, meanwhile you can download the newest version and tell me how it feels :D

Thanks

[2021-04-13 08:28] Josee9988 commented on #98
![Screenshot from 2021-04-13 10-27-07](https://user-images.githubusercontent.com/38838976/114521625-e6ddc400-9c42-11eb-8d7a-23bd31f15c40.png)
![Screenshot from 2021-04-13 10-27-36](https://user-images.githubusercontent.com/38838976/114521629-e80ef100-9c42-11eb-9f3b-3a4cd872eae7.png)

It definitely needs more color!

[2021-04-13 08:38] Josee9988 commented on #98
![image](https://user-images.githubusercontent.com/38838976/114523075-412b5480-9c44-11eb-8388-fbbe5f3816ce.png)
This one is better

[2021-04-13 08:59] Josee9988 commented on #93
Ok don't worry, but please make sure to set the setting "MinifyAll.disableHexadecimalShortener" to its default value (true), because there is a bug with this option that might be the key of your problem

[2021-04-13 09:38] maxresnikoff opened #102 "Not minifying anymore"
Won't minify anything anymore. Usually have it to minify to a new .min file on save, but not working.
Also right-clicking and manually minifying and preserving original no longer works.
Have re-installed the extension but no luck.

[2021-04-13 09:39] Josee9988 commented on #102
What are your extension settings?

[2021-04-13 09:41] maxresnikoff commented on #102
I Have reverted to 2.5.12 and works fine again.

Here are my settings:
"MinifyAll.disableHtml": true,
    "MinifyAll.disableJson": true,
    "MinifyAll.disableJsonc": true,
    "MinifyAll.disableLess": true,
    "MinifyAll.disablePhp": true,
    "MinifyAll.disableSass": true,
    "MinifyAll.disableScss": true,
    "MinifyAll.PrefixOfNewMinifiedFiles": ".min",
    "MinifyAll.openMinifiedDocument":

[2021-04-13 09:44] Josee9988 commented on #102
If you switch back to 2.5.20 will it minify again or give any output error?
Does any of all the commands work?

[2021-04-13 09:47] maxresnikoff commented on #102
So i reverted back to 2.5.13 and that didn't work either. Nothing was minifying at all
Reverted again back to 2.5.12 and all working perfectly.

On v2.5.13 & 2.5.14, no error messages were shown. It just wouldn't minify.

For me:
V2.5.12 - Works
V2.5.13 - Doesn't work
V2.5.14 - Doesn't work

[2021-04-13 09:48] Josee9988 commented on #102
What about the latest version v2.5.20?

[2021-04-13 09:49] Josee9988 commented on #102
The latest version is 2.5.20
you can check it here: https://marketplace.visualstudio.com/items?itemName=josee9988.minifyall

[2021-04-13 09:54] maxresnikoff commented on #102
Very odd, as VS shows the latest as 2.5.14 and there is no newer version to install...
![Screenshot 2021-04-13 at 10 53 23](https://user-images.githubusercontent.com/48560713/114534114-8c466700-9c46-11eb-9473-1c42f4df73da.png)

[2021-04-13 10:00] maxresnikoff commented on #102
I can confirm it is working. Many apologies! my mistake with VScode not updating and hence not being compatible with v2.5.20

[2021-04-13 10:12] Josee9988 commented on #102
Always stay up to date! 😄

[2021-04-13 10:12] #102 closed

[2021-04-13 10:18] Josee9988 commented on #92
Please check v2.5.21 as this might at least make the minifier to work

[2021-04-13 10:18] Josee9988 commented on #93
Try to install the latest version "2.5.21" and check again. :)

[2021-04-14 17:42] digiage commented on #92
thank you! I have tested a few cases and files and it seems to work well. Not sure if the settings option "hexa shortener" has any impact if selected or not, but this does is not crucial ;-)

[2021-04-14 17:46] Josee9988 commented on #92
Hi again @digiage I've fixed the MinifyAllCore colour minifier, it seems that for hsl values or rgb**a**, it throws an error, so I only added a couple of try-catch clauses to check if the minimization could be done or it failed.

And the setting hexa shortener was indeed crucial.

So... everything works back again right? Should we close this issue or is anything else to be reviewed.

Thanks for yo

[2021-04-14 17:54] digiage commented on #92
Perfect. thanks. I think you can close this one. If you want, check if the minify shortener has now any effect (if it shortens colors) when unchecked, but that does not belong to this thread.
Have a good one.

[2021-04-14 17:57] Josee9988 commented on #92
It doesn't minify colours if unchecked.
But for now, it will not minify colours if the minifier doesn't understand the colour format. So it will not minify the colours even if set to it, but just in some scenarios where you are using 'hsl' or other functions. Maybe rgba might also not be minified.

Sorry for the inconvenience! I'll try to fix it when I buy some free time

[2021-04-14 17:57] #92 closed

[2021-04-14 18:12] DevMahdi404 commented on #98
yeah, thank you for this. Hope this project gets some donation. again lot of thanks for the extension ❤️❤️

[2021-04-14 18:13] Josee9988 commented on #98
@DevMahdi404 thanks for your support!

[2021-04-14 19:34] Josee9988 commented on #98
@DigiAge has made a new one. So you can comment if you prefer the actual one or the new proposal
Actual one
![icon](https://user-images.githubusercontent.com/38838976/114768457-2b637f80-9d69-11eb-9d47-29da7b5c2d1d.png)

New one
![minifyall](https://user-images.githubusercontent.com/38838976/114768419-1be43680-9d69-11eb-9c71-9995332962fa.png)
![minifyall-backgrounds](https://user-images.githubuserc

[2021-04-14 19:53] Josee9988 commented on #98
I really like colour change in the word "ALL" but personally, I do prefer the original colours, I think they are more vivid, but both of them are cool

[2021-04-14 19:54] digiage commented on #98
Current dark/light theme look in the Extensions "shop" part. Just for reference:
![image](https://user-images.githubusercontent.com/73428488/114770704-0290b980-9d6c-11eb-8dbb-87ed00d9d106.png)
![image](https://user-images.githubusercontent.com/73428488/114770714-04f31380-9d6c-11eb-918a-0ea9c7083873.png)

[2021-04-14 19:56] Josee9988 commented on #98
Maybe the logo could have a background circle-shaped around the main logo to make it stand out or something. Idk I'm not an artistic guy 😆

[2021-04-17 10:30] DevMahdi404 commented on #98
the new tweak by @digiage is good. But I think it would be better if you remove the text and fill the background circle so that the icon will be big and clear. What do you think?

[2021-04-17 11:04] Josee9988 commented on #98
Yeah, probably it will be more visible to the users

[2021-04-17 20:21] DevMahdi404 commented on #98
yeah, make a try. hopefully it will be much good.

[2021-04-21 06:57] Josee9988 commented on #93
Hey, @eddiepmonark have you checked yet?
You could check if the problem persists and then maybe changing your VSCode marketplace star to something more than 1 star.
I think I gave my best to try to solve your issue.

The issue will be closed as it is mainly inactive and I think fixed as I had another issue that was probably related to your problem...

Cheers

[2021-04-26 14:53] Josee9988 commented on #93
@eddiepmonark any news?

[2021-04-26 16:15] eddiepmonark commented on #93
Sorry just been extremely busy with deadlines up till next week but I'll get to it for sure.
Thanks
________________________________
From: Jose Gracia Berenguer ***@***.***>
Sent: 26 April 2021 07:53
To: Josee9988/MinifyAll ***@***.***>
Cc: Eddie Potros ***@***.***>; Mention ***@***.***>
Subject: Re: [Josee9988/MinifyAll] Seems to create the file but somehow not really there (#93)

@eddiepmonark<h

[2021-04-27 17:47] eddiepmonark commented on #93
https://user-images.githubusercontent.com/53535274/116287919-ce42d300-a745-11eb-865b-94aff77729e7.mp4

Same as before man.. I install the plugin and run it and it isn't working properly. I don't know what is the problem but the other plugin works as I showed you here.

[2021-04-27 17:48] eddiepmonark commented on #93
One thing I don't understand is how it is the same file name as the other one yet, it doesn't overwrite or ask to do so. Smaller in file size and both are same timestamp after testing one after the other. As if your file isn't there or just working right.

[2021-04-27 17:59] Josee9988 commented on #93
I'll check your evidence when I buy some time
Ty

[2021-04-28 03:01] EnP-git commented on #6
hi I got same error now. do you know how can I fix this?

[2021-04-28 05:54] Josee9988 commented on #6
@EnP-git try disabling any other extension to see if this is caused by a 3rd party issue

[2021-05-01 03:01] AndyGotfridt opened #105 "[Bug] Minificar HTML con IF PHP"
# **🐞 Bug Report**

## **Describe the bug**
* Al minificar un HTML que contiene un IF de PHP borra los ; de los echo o variables (No sucede en todos los casos, como se aprecia en la captura)

---

### **Is this a regression?**
* No lo probé en versiones anteriores, ya que es la primera vez que utilizo la extensión

---

### **To Reproduce**

1. En un archivo html generar un IF (PHP)
2. Minificar e

[2021-05-01 06:15] Josee9988 commented on #105
Hola @AndyGotfridt
Actualmente la extensión no soporta la minimización de archivos enteros con código PHP, es algo que definitivamente me gustaría añadir, pero no tengo tiempo de momento.

Puedes minimizar simplemente el html seleccionandolo y usando el comando "Minify the selected text"

Gracias y disculpa la inconveniencia

[2021-05-01 06:16] #105 closed

[2021-05-01 06:18] Josee9988 commented on #105
El proyecto es un side project y por ahora no puedo dedicarle el tiempo que me gustaría s desarrollar las features que me comentáis ya que la universidad consume gran parte de mi tiempo, pero intentaré sacar horas en verano.
Gracias por tu comprensión @AndyGotfridt !!

[2021-05-04 09:20] samprorender opened #106 "Autosave original and minified"
I would like to use CTR+S to save the original file and the minified file at the same time. That way I can link the CSS-min directly into the HTML and not have to transform each time.
I haven't found a way to do this.

Thanks

[2021-05-04 09:29] Josee9988 commented on #106
Ok, I think you are looking for this setting:
"MinifyAll.minifyOnSaveToNewFile​"​: ​true
And set
"MinifyAll.minifyOnSave": false

Remember to restart VSCode to apply the settings.

Tell me if that is what you were looking for

Thanks for contributing!

[2021-05-04 09:40] samprorender commented on #106
It worked for me. For some reason it didn't work before. Sorry
Thanks, excellent plugin.

[2021-05-04 10:35] #106 closed

[2021-05-04 15:27] mojtabakaviani opened #107 "Gzip minified files"
Thanks for developed this extension, please add option to gzip after minified files.

[2021-05-04 15:44] Josee9988 commented on #107
That is a good feature, I'll try to implement this in the future.
For now my time is extremely limited. Thanks for the idea

[2021-05-06 06:35] Josee9988 commented on #107
I will try to do it as soon as I finish my university exams, probably in June, I know it is a lot of time but for now, I don't feel ready to spend more time on my foss projects.

Sorry for the delay @mojtabakaviani , but I will solve this issue sooner or later!

[2021-05-19 11:26] matronator opened #108 "Preserve license information/header in minified file"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

* The extension removes all comments including all license information (like the header at the top of the file).

---

## **Describe the solution you'd like**

* Add some option to keep the license information intact. Either in the extension settings in VSCode, or via some annotation like Google Closure

[2021-05-19 11:29] Josee9988 commented on #108
I have this in mind, I'll try to fix it as soon as I end my classes.

[2021-05-25 15:26] BillyFB opened #111 "Use Terser (ES6+ syntax) also for JS inside HTML"
It would be best to switch for an HTML min that also uses Terser to minify JS inside HTML so it also supports ES6+ syntax.

There is already a html-min fork with this here:
https://github.com/terser/html-minifier-terser

Great extension already, would greater with this even ;), cheers.

[2021-05-25 15:28] Josee9988 commented on #111
I'll take a look in the following weeks, rn I can't add any more features.

Thanks for contributing!

[2021-05-25 20:19] Josee9988 commented on #107
Hey @mojtabakaviani I've already implemented it in a dev branch.
I will publish it in the upcoming days, sorry for the delay :D

[2021-05-25 20:56] Josee9988 commented on #107
I've made it to compress files and folders, as I said it will be available soon ;)

[2021-05-26 06:54] #107 closed

[2021-05-26 06:55] Josee9988 commented on #107
Download the latest version 2.6.0 so you can check the new feature. Please tell me how it was and if I could improve something about it.
Thanks

[2021-06-23 08:08] SprimItalia opened #114 "preserve <!--[if mso]> <![endif]--> from HTML minification"
# **🚀 Enhancement Request**

## **Is your enhancement request related to a problem? Please describe.**

minify all remove instruction  in HTML  minification.
*

---

## **Describe the solution you'd like**

preserve  instruction in minified files
*

---

## **Describe alternatives you've considered**

*

---

### **Additional context**

*

[2021-06-23 13:18] Josee9988 commented on #114
`< !--[if mso]> <![endif]-- >` gets minified to: `< !--[if mso]><![endif]-- >`

It only removes that middle space between `>` and `<`.

This will not change in the near future because it does need a huge amount of time to change some of the core aspects of the minifier.

Sorry and thanks for your time!

[2021-06-29 14:39] Josee9988 commented on #98
I will close this issue as I am not focusing rn on the improvement of the icon. Thanks guys for your support!!

[2021-06-29 14:39] #98 closed

[2021-07-17 07:47] rencarl opened #116 "Minifying javascript file removes parts of simple if typeof condition and console output"
First of all, thank you very much for your great work!

This is my code:
[code]

In previous versions the code was minified to:
[code]

In version 2.7.0 the code is minified to:
[code]

Can you fix this?
If not, how do i have to change my code?

Best regards!

[2021-07-17 07:47] rencarl opened #117 "Minifying javascript file removes parts of simple if typeof condition and console output"
First of all, thank you very much for your great work!

This is my code:
[code]

In previous versions the code was minified to:
[code]

In version 2.7.0 the code is minified to:
[code]

Can you fix this?
If not, how do i have to change my code?

Best regards!

[2021-07-17 08:08] Josee9988 commented on #116
I'll check it today or tomorrow

Thanks for contributing

[2021-07-18 13:14] Josee9988 commented on #117
Hi @rencarl MinifyAll version 2.7.1 is now available. Please check it out and tell me if that problem persists, because I tried to minify your code and I didn't see any problem with it

Thanks!!!

[2021-07-18 13:14] #117 closed

[2021-07-18 13:53] rencarl commented on #117
Sorry, the problem still persists.

I have simplified my code to:

[code]

And this is the minified version:
[code]

With the minified version i only get the "test for alert", "test for console.log" is missing. And the reason is the missing parameter when calling console.log. The if condition in the con function is also absent.

Best regards!

[2021-07-18 14:24] Josee9988 commented on #117
Then you should maybe contact [the terser team](https://github.com/terser/terser/issues) so they can better solve your problem.

Remember you have a MinifyAll setting called 'terserMinifyOptions' in which you can add and modify all the terser's settings or configurations in case this error is caused by a wrong setting.

Thanks again!

[2021-07-18 14:57] rencarl commented on #117
This was the hint i needed. I don't know why, but "drop_console" was set to "true". I changed it to "false" and everything works fine again.

Thank you for your help!

[2021-07-18 18:51] Josee9988 commented on #117
Always happy to help @rencarl !!

[2021-08-01 20:45] Josee9988 opened #118 "Update project-template"

[2021-08-11 23:12] Runeloon opened #119 "XML Minify"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**
Dealing with large XML blobs that I'm inserting into SQL statements, prefer to keep to a single line so they don't distract from the rest of my code. Have been using this tool for JSON blobs and it's worked perfectly.

*

---

## **Describe the solution you'd like**
Noticed switching the language mode to

[2021-08-12 06:22] Josee9988 commented on #119
Hi, so does the minifier minify your XML code right when using it as HTML?

Because I could just add XML as an HTML minimisation

[2021-08-12 10:09] Cube707 opened #120 "Enhancement Request: right-click menu togglable via config?"
# **🚀 Enhancement Request**

Hello there, really good extention. I Have a enhancement request you might consider:

I don't use the right-click menu very much with this extention and find it somewhat intrusive as well as clicking it by acident.
This isn't too bad and I could totally live with it, but I figured it might be posible to provide a toggle for it in the configs? So one could just disable

[2021-08-12 12:12] Josee9988 commented on #120
Hi, I could understand and I certainly agree, this could be annoying or intrusive.

There isn't a clear way to toggle that using the VSCode api, but this could be manually or fixed with an script.

I'll try to investigate a bit

Thanks

[2021-08-12 12:13] Cube707 commented on #120
I am fiddling around with it myself right now. Will come back if I find something

[2021-08-12 22:00] iwjis opened #122 "How to modify the configuration when some code is lost after compression?"
# How to modify the configuration when some code is lost after compression?*

## Some code is missing after compression,
In Sublime Text3 can do this by changing the \Data\Packages\Minify\Minify
cmd.extend([self.quoteChrs(inpfile), '-o', self.quoteChrs(outfile), '-m', '-c'])
Remove '-m', '-c' to OK!,
Where can I set VS  Code?

Before compression
![1](https://user-images.githubusercontent.com/54142

[2021-08-12 22:42] Runeloon commented on #119
After a bit of further testing, I think the HTML minifier will work perfectly for the XML.
I will note that CDATA blocks get a bit screwed up, with some newlines being removed, while others aren't. CDATA is an odd exception, as it can kind of contain _anything_, and maybe shouldn't be minified at all. This won't impact me since none of the XML I'll be using uses CDATA.

[2021-08-13 08:07] Josee9988 commented on #122
If you are referring to the javascript options.

You can use the setting
"MinifyAll.terserMinifyOptions"

You can edit your settings.json file and set something like:
[code]

The previous code is an example and you can modify any other javascript minimization setting. You can find more information about all the settings in the [terser's github page](https://github.com/terser/terser)

[2021-08-13 08:26] #120 closed

[2021-08-13 08:29] Josee9988 commented on #120
Install the newest version 2.8.0 to start using your new feature.

Thanks again!

[2021-08-13 08:43] #119 closed

[2021-08-13 08:44] Josee9988 commented on #119
You can now download the latest minifyall version (2.9.0) and check if it works for you ;))

[2021-08-13 11:27] Cube707 opened #125 "Discussion: How should php files be handled?"
# Should php file be handled differently from other filetypes

In V2.7.1 and priro, php files where treaded differently from the other filetypes. They had only the *minify selected text* Option. See here: (L271 differs from L261 and L266) https://github.com/Josee9988/MinifyAll/blob/d3e3f5acf287342b617b0f2223a253c6951408d0/package.json#L259-L273

This is the reason I implemented a special case for

[2021-08-13 14:13] Josee9988 commented on #125
Yeah, I definitely misunderstood something there, I will keep the old behaviour, which shows in the context menu only minify the selected text.

[2021-08-13 14:17] #125 closed

[2021-08-15 22:38] Runeloon commented on #119
Downloaded, works perfectly! Thanks for the change :D

[2021-09-01 17:40] goslingcools opened #129 "Missing option: Minify All: XML"
# **❓ Question or Support Request**

## **Describe your question or ask for support.**

Looks like this option is missing: Minify All: **Disable XML**

Now when I save any .xml file, it gets a minified version automatically next to the original.
saving sample.xml results in the file **sample.xml** AND **sample.min.xml**
I was able to disable all other filetypes I did not want to be minified except

[2021-09-02 06:21] Josee9988 commented on #129
I will check it, thanks for the issue

[2021-09-20 12:20] Cube707 commented on #129
@goslingcools I opened a PR to fix this issue. If its urgend on your end you can use my fork for the time beeing or wait untill its merged.

[2021-09-20 14:31] #129 closed

[2021-09-20 15:21] Josee9988 commented on #129
It is now published :D

[2021-09-21 10:33] Josee9988 commented on #122
@iwjis any news?

[2021-10-11 21:55] LeeCoder139 opened #131 "Ignore files based on RegEx list"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

* !!!! My VSCode workspace file is being minified! I don't really want this file (and other extension option files like: .gitignore & .prettierrc) to be minified. I don't publish these files. I tried the "MinifyAll.disableJson" setting but it didn't seem to work. !!!!

---

## **Describe the solution yo

[2021-10-12 09:22] Cube707 opened #132 "configuration only updates after restart"
# **🚀 Feature Request: Live update all configurations**

## **Problem:**

Currently all configurations are loaded once on startup of the extentions. This means that after a configuration is changed, it will only take effect after a reload. This is slightly anoint when testing settings.

## **Describe the solution you'd like**

For Version 3.0 a callback handler should be implemented that updates t

[2021-10-14 02:20] BFP-RMP opened #133 "Minifying javascript uses _ character for mangling vars"
# **🚀 Enhancement Request**

## **Is your enhancement request related to a problem? Please describe.**

Not related to a problem I see. The problem I'm experiencing is that when minifying javascript is will use the _ character for var mangling, which is causing problems as when it assigns a value to _ it isn't implemented correct as _ is being treated as an identified in js rather than a variable.

[2021-10-14 11:20] Josee9988 commented on #133
The minimization of JavaScript is done with a 3rd party package called **Terser**, you may want to post an issue thereafter I update all the packages again, which might solve this issue and other possible ones.

As I said, I will update this third party package and hope that it does fix your issue because it seems like it is not MinifyAll's fault.
I will update the package to its newest version an

[2021-10-14 15:31] Josee9988 commented on #132
You can try it if you want, that would be a pleasure :D
If not I could try to do it by the end of October.

Awaiting your response. :)

[2021-10-14 20:01] Josee9988 commented on #133
Hi, I've successfully updated the terser. You can now download the latest MinifyAll version (2.9.4) and check if your problem persists.
Please, let me know ;)

[2021-10-18 16:05] Cube707 commented on #132
I am not sure if the functionalaty should stay gloabal or if it should be put inside the `activate()` function?

[2021-10-20 07:28] Josee9988 commented on #132
Sorry for the delay, I don't know why but I didn't get a notification!

I've been testing out your code and it seems pretty good.

The functionality is good globally as you have made.

I would leave the second **if** statement only as `if (event.affectsConfiguration('MinifyAll')` so it triggers all MinifyAll changes.

Also, the handler is not useful in this case. It is making the configuration bei

[2021-10-20 15:47] Cube707 commented on #132
What I was trying to do is this:
Whenever a "normal" option is changed, just call `settings = getUserSettings();` to update the settings in the internal variable. This will happen silently without the user noticing.
The two options `minifyOnSave` and `minifyOnSaveToNewFile` are special, as they have a callback handler attacht to them, see here:

[2021-10-20 16:44] Cube707 commented on #132
I have it implementet and it should work now. I will do some more debugging and errorhunting tomorrow and open a pullrequest when I am sure I didn't do something to stupid.. XD

[2021-10-21 14:07] Josee9988 commented on #131
@LeeCoder139  anything?

Is this issue still relevant?

[2021-10-21 14:16] #132 closed, assigned to Josee9988

[2021-11-02 10:54] S-K-Tiger opened #136 "[Bug][PHP] Removal of required ';' char on minification"
# **🐞 Bug Report**

## **Describe the bug**
PHP minification may create invalid syntax. When a ';' is directly in-front of a '}' the ';' is removed creating a syntax error.

---

### **Is this a regression?**
Not as far as I'm aware

---
### **To Reproduce**

Minify:
[code]

---
### **Expected behaviour**
[code]
or
[code]

---
### **Observed behaviour**
[code]

---
### **Your environment**
* Plugi

[2021-11-02 11:07] Josee9988 commented on #136
Thanks for your issue, I'll check this problem and notify you as soon as I have some free time

[2021-12-22 08:51] S-K-Tiger opened #140 "[CSS] Color name conversion"
# **🚀 Enhancement Request**

## **Describe the Enhancement you'd like**

* Using/converting color names to reduce file size even more.

Currently color names seem to be ignored but, as they can be both longer and shorter than the hexadecimal code they represent, they could be used to reduce file size even more.
For example both the colors `yellow` and `red` can be represented by a 4 character hexa

[2021-12-22 13:58] Josee9988 commented on #140
That is a great idea! Thanks for the issue. I will work on it when possible

[2022-01-07 11:14] gysandor opened #141 "Source map generation for minified Javascript files"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

Generating .map source maps for minified Javascript files would be a useful option.

---

## **Describe the solution you'd like**

terser supports source map generation, and it can be added to the settings.json options (MinifyAll.terserMinifyOptions). However, it just provides the generated map in the o

[2022-01-08 13:42] steponmepls opened #142 "[Bug] Prevent unit removal on zero values within calc() function"
# **🐞 Bug Report**

## **Describe the bug**

* The removal of the unit for zero values will cause the calc() function to break

---

### **Is this a regression?**

This I can't tell because I just installed this plugin for the first time

---

### **To Reproduce**

1. Enter some css sample like `.element { width: calc( 100px + var(--test, 0px)) }`
2. Let the extension minify the code
3. Test the m

[2022-03-04 07:02] arbadzukhron opened #143 "[Bug] minifyOnSaveToNewFile overwrite the original"
# **🐞 Bug Report**

## **Describe the bug**

i try this setting :
[code]
but it overwrite the original file

[2022-03-06 17:24] Josee9988 commented on #143
Hi, thanks for the issue.
Currently, this project is unmaintained by me, at least until the early summer months. So this will have to wait or another developer has to do it instead of me and push it so I can only review it and ship it.

Sorry for the inconvenience

[2022-04-01 07:41] minig0d opened #145 "Minify on Save - ONLY if a minified file already exists"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

* I definitely don't want to enable minifying every single file I save... but yet love the convenience of minify on save...

---

## **Describe the solution you'd like**

* I forgot what extension I used to use before switching to this one, but it had a really helpful feature that would only minify on s

[2022-04-01 07:48] Josee9988 commented on #145
Hey, it definitely makes sense! I will love to add this feature. But this will have to wait as I am no longer maintaining this project as I am focusing on other projects and university.

But I will make it happen sooner or later.

I hope you understand!! 🙏

[2022-04-01 10:39] Cube707 commented on #145
Hello,

there is also the feature request under #131 which asks for an easy way to tell minify what files to just ignore.
As both of these requests are quite similar in that the user wants to prevent some unnecessary files from being minified while not having to manually trigger the minifyer for worked on files, these could maybe be combined into a single feature.

Would the "define ignore patters

[2022-04-01 10:44] Josee9988 commented on #145
Yep #131 should fix this one

[2022-04-01 10:44] Josee9988 commented on #145
I'll see if I can buy some free time and add this feature, at least.

[2022-04-01 14:26] la3el opened #146 "Ability to choose an output folder"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

... when before and after compression needs to change paths manually. As an example: I have an index.html and a style.css file I'm working with... Before I upload them to the server I want to compress them, but then I either need to link to CSS before compressing the HTML file Change style.css to style.

[2022-04-02 19:58] minig0d commented on #145
It would be better than nothing but no.... this is based on an assumption that 100% of the files I edit should have a minified version created... I edit TONS of different files for all different purposes.  I would have to break into separate folder level settings because even at the workspace-level I don't minify everything.  I only minify files I edit ad-hoc direct for web publishing...

Honestly

[2022-04-06 09:56] Cube707 commented on #131
One thout I just had on this matter and wanted to document:

Implementing the regex ignroe would also allow useres to ignore specific filetypes (`"ignore": "**/*.css"` for example). Therefor the question: Should this feature make the existing _Disable specific lanuage_ options depricated?
It would probably be more performant and keep the config interface more consistent an clutter free.

[2022-04-06 17:44] jplarrea opened #147 "Customer Header on minify"
"MinifyAll.minifyFixedHeaderCss": "/* EMPRESA ® - © {y} */",
"MinifyAll.minifyFixedHeaderHtml": ""
"MinifyAll.minifyFixedHeaderJs": "/* EMPRESA ® - © {y} */",
"MinifyAll.minifyFolderHtml": "views",
"MinifyAll.minifyFolderJs": "scripts",

Modificamos la librería para agregar header en los archivos minificados y una carpeta específica para cada archivo.

[2022-04-10 08:51] Z-E-D opened #148 "Option to randomize identifier replacements"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

*

---

## **Describe the solution you'd like**

*I would like to have an option to get randomized identifier names every time when I use the minifier/mangler with the same input JS file. I.e. I want to get unique minified/mangled files from the same input JS file after each minification. Currently, eve

[2022-05-14 17:50] froger-me opened #149 "Do not minify on save if already minified (based on chosen extension)"
# **🚀 Enhancement Request**

## **Is your enhancement request related to a problem? Please describe.**

* When a minified file is saved, for example to trigger auto-upload via SFTP in combination with Open Minified Document, minification is triggered again on the already minified file.

---

## **Describe the solution you'd like**

* Look at the "Prefix Of New Minified Files" in the file name befo

[2022-05-14 18:00] Cube707 commented on #149
This makes a lot of sense and could easiely be implemented as part of the alreaddy requested RegEx ignore (#131)

[2022-06-03 10:13] nasgnat opened #150 "[Bug] :where() CSS pseudo-class function not working"
# **🐞 Bug Report**

## **Describe the bug**

The :where() CSS pseudo-class function does not work if preceded by a selector.

---

### **Is this a regression?**

I am not sure.

### **To Reproduce**

1. Create a basic HTML page:
[code]
2. The style.css file:
[code]
3. Open the style.css
4. Right click on it and click "Minify this document."

---

### **Expected behaviour**

`header :where(.descrip

[2022-08-10 17:35] simonferndriger opened #152 "[Bug] Minifying fails for dynamic JS import"
# **🐞 Bug Report**

## **Describe the bug**
When you have a JS file with the following content, the minifying fails with an error:
`if(typeof structuredClone !== 'function'){
    const { structuredClone = (await import('https://cdn.skypack.dev/@ungap/structured-clone')).default } = self;
}`

---

### **Is this a regression?**
No
---

### **To Reproduce**

1. Enter de JS code above in your script
2

[2022-08-11 10:11] simonferndriger commented on #152
Looks like the JS was indeed incorrect, sorry

[2022-08-11 10:11] #152 closed

[2022-08-13 07:01] cateyes99 opened #153 "[Bug] Multiple white spaces in a string should not be reduce to one white space!"
# **🐞 Bug Report**

## **Describe the bug**

* Give multiple white spaces in a string, after minifying the doc, the multiple spaces are reduced to only one white space 😢 I tried JSON, XML

---

### **Is this a regression?**

* Don't know.
---

### **To Reproduce**

1. Create a JSON file
[code]
Minifying it results in
[code]
2. Create a XML file
[code]
Minifying it results in
[code]
---

### **Expe

[2022-08-17 19:22] simonferndriger opened #154 "[Bug]"
When minifying `<a href="">link</a> test` you will get `<a href="">link</a>test` which is not the same, because the space between the link and the text is missing!

Otherwise, an awesome tool 👍♥

[2022-09-17 21:33] axelhahn opened #155 "[Bug] css - padding with 4 value fails"
# **🐞 Bug Report**

## **Describe the bug**

In a css file I add a class that has a padding rule with 4 values:
`.example{padding: 2em 1.0em 0.7em 1.0em;}`

The minified version scrambles that to

`.example{padding:2em 1.0 .7em 1.0;}`

(it removes"em" for 2nd and 4th padding item)

---

### **Is this a regression?**

---

### **To Reproduce**

1. in a css file add `.example{padding: 2em 1.0em 0.7e

[2022-10-12 11:45] sambora1313 opened #156 "[Bug] Inconsistent behaviour when using on css file"
# **🐞 Bug Report**

## **Describe the bug**

When trying to minify css document some sort of irregular behaviour happens-> If I select all content in css document and go with option _"minify the selected text"_, the output code doesn't work as id did before (doesn't render, or it does partly). Then I tried to minify same document, but _"per partes"_. So I went through and selected parts of the cod

[2022-10-15 13:59] ljm12914 opened #157 "[Bug] css class & pseudo element bug"
# **🐞 Bug Report**

## **Describe the bug**

* When a CSS class selector (`.class`) is followed by a pesudo element (etc. `::after`) with a space, which will select the descendent of this class, is minified, the space is lost, causing the style to be only applied to the very element which has the class attribute.

---

### **Is this a regression?**

I don't know it very clearly.

---

### **To Rep

[2022-10-27 19:10] trymeouteh opened #158 "PHP Minify"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

Unable to compress PHP code

---

## **Describe the solution you'd like**

The ability to compress PHP code

---

## **Describe alternatives you've considered**

Support PHP code compression

---

### **Additional context**

*

[2022-10-27 19:11] trymeouteh opened #159 "Dart Minify"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

Unable to compress Dart code

---

## **Describe the solution you'd like**

The ability to compress Dart code

---

## **Describe alternatives you've considered**

Support Dart code compression

---

### **Additional context**

*

[2022-10-27 19:16] trymeouteh commented on #158
Turns out extension does support PHP, but this is not listed on the extensions page
https://open-vsx.org/extension/Josee9988/minifyall

[2022-10-27 19:18] trymeouteh opened #160 "PHP - Compress Variables"
# **🚀 Feature Request**

## **Is your feature request related to a problem? Please describe.**

When compressing PHP code, it will not compress variable names to short letters ($a, $b, $c) unlike JavaScript variable compression.

---

## **Describe the solution you'd like**

PHP code compression will compress PHP variables.

---

## **Describe alternatives you've considered**

None

---

### **Add

[2022-10-29 05:25] simonferndriger opened #161 "[Bug] Severe PHP Compression Error"
# **🐞 Bug Report**

## **Describe the bug**
`<?php }else{ ?>` gets compressed to `<?php}else{ ?>` which results in a syntax error and therefore the page fails to load!